<div class="row">
    <div class="col-12 col-lg-6">

        <div class="row">
            <div class="col-12 d-flex flex-row justify-content-between align-items-center mb-3">
                <h4 class="mb-0 mtb-main-title-10 text-uppercase">Your primary doctors</h4>
                <a href="javascript:void(0)" class="mtb-link mtb-link-xs mtb-link-border-green" *ngIf="hasDoctorAdded" (click)="open($event, 'add-doctor')"><i class="ri-add-line"></i> Add doctor</a>
            </div>
        </div>

        <div class="row" *ngIf="!hasDoctorAdded">
            <div class="col-12 text-center py-5 mtb-add-doc">
                <i class="ri-nurse-line mtb-icon-lg"></i>
                <h6>Add your first general practioner</h6>
                <a href="javascript:void(0)" class="btn btn-sm" (click)="open($event, 'add-doctor')"> <i class="ri-add-line"></i> Add doctor </a>
            </div>
        </div>

        <!-- Doctor -->
        <div class="row mt-3 align-items-center mtb-border-bottom" *ngIf="hasDoctorAdded">
            <div class="col-2">
                <img src="../assets/images/mtb-profile-image-01.jpg" alt="Doctor 01" class="mtb-image-circle-md">
            </div>
            <div class="col-7">
                <div class="pl-lg-3 mtb-doc-details d-flex flex-column justify-content-center">
                    <h4 class="mb-0 mtb-text-xs-bold">Dr. Jonathan A Atieno Anssndas </h4>
                    <p class="mtb-text-xs-bold">General Practitioner</p>
                    <p class="mtb-text-xxs">+27 (0) 12 345 6789</p>
                    <p class="mtb-text-xxs">info@health.co.za</p>
                </div>
            </div>
            <div class="col-3">
                <div class="d-flex flex-row justify-content-end px-2 mtb-doc-actions">
                    <a href="javascript:void(0)" class="d-flex flex-row align-items-center mtb-link mtb-link-dark-grey"><i class="ri-message-2-line mtb-icon-actions-md"></i></a>
                    <a href="javascript:void(0)" class="d-flex flex-row align-items-center ml-2 mtb-link mtb-link-dark-grey"><i class="ri-mail-line mtb-icon-actions-md"></i></a>
                    <a href="javascript:void(0)" class="d-flex flex-row align-items-center ml-2 mtb-link mtb-link-dark-grey"><i class="ri-phone-line mtb-icon-actions-md"></i></a>
                    <a href="javascript:void(0)" (click)="open($event, 'confirm-remove', 'Dr. Jonathan A Atieno Anssndas')" class="d-flex flex-row align-items-center ml-2 mtb-link mtb-link-light-grey"><i class="ri-close-line mtb-icon-actions-md"></i></a>
                </div>
            </div>
        </div>

        <div class="row mt-3 align-items-center" *ngIf="hasDoctorAdded">
            <div class="col-2">
                <img src="../assets/images/mtb-profile-image-01.jpg" alt="Doctor 01" class="mtb-image-circle-md">
            </div>
            <div class="col-7">
                <div class="pl-lg-3 mtb-doc-details d-flex flex-column justify-content-center">
                    <h4 class="mb-0 mtb-text-xs-bold">Dr. Jonathan A Atieno Anssndas </h4>
                    <p class="mtb-text-xs-bold">Dentist</p>
                </div>
            </div>
            <div class="col-3">
                <div class="d-flex flex-row justify-content-end px-2 mtb-doc-actions">
                    <a href="javascript:void(0)" class="d-flex flex-row align-items-center mtb-link mtb-link-dark-grey"><i class="ri-message-2-line mtb-icon-actions-md"></i></a>
                    <a href="javascript:void(0)" class="d-flex flex-row align-items-center ml-2 mtb-link mtb-link-dark-grey"><i class="ri-mail-line mtb-icon-actions-md"></i></a>
                    <a href="javascript:void(0)" class="d-flex flex-row align-items-center ml-2 mtb-link mtb-link-dark-grey"><i class="ri-phone-line mtb-icon-actions-md"></i></a>
                    <a href="javascript:void(0)" (click)="open($event, 'confirm-remove', 'Dr. Jonathan A Atieno Anssndas')" class="d-flex flex-row align-items-center ml-2 mtb-link mtb-link-light-grey"><i class="ri-close-line mtb-icon-actions-md"></i></a>
                </div>
            </div>
        </div>

    </div>
    <div class="col-12 col-lg-6">

        <div class="row">
            <div class="col-12 d-flex flex-row justify-content-between align-items-center mb-3">
                <h4 class="mtb-main-title-10 text-uppercase">Your next of kin</h4>
                <a href="javascript:void(0)" class="mtb-link mtb-link-xs mtb-link-border-green" *ngIf="hasKinAdded" (click)="open($event, 'add-kin')"><i class="ri-add-line"></i> Add next of kin</a>
            </div>
        </div>

        <div class="row" *ngIf="!hasKinAdded">
            <div class="col-12 text-center py-5 mtb-add-doc">
                <i class="ri-user-heart-line mtb-icon-lg"></i>
                <h6>Add your next of kin</h6>
                <a href="javascript:void(0)" (click)="open($event, 'add-kin')" class="btn btn-sm"> <i class="ri-add-line"></i> Add a kin </a>
            </div>
        </div>

        <div class="row">
            <div class="col-11 ml-lg-3 ml-0 mtb-contact-wrapper">

                <div class="row py-2 align-items-center" *ngIf="hasKinAdded">
                    <div class="col-3 pr-0 text-center">
                        <img src="../assets/images/mtb-profile-image-01.jpg" alt="Doctor 01" class="mtb-image-circle-md">
                    </div>
                    <div class="col-7">
                        <h4 class="mtb-text-sm text-uppercase mtb-text-green">Primary Next of Kin</h4>
                        <h5 class="mtb-text-sm mt-2 mb-0">Jacob Thomas M Freddy</h5>
                        <p class="mtb-text-10">Brother</p>
                        <div class="d-flex flex-column mtb-doc-actions">
                            <a href="javascript:void(0)" class="d-flex flex-row align-items-center mtb-link-xs mtb-link mtb-link-dark-grey">+27 (0) 12 345 6789</a>
                            <a href="javascript:void(0)" class="d-flex flex-row align-items-center mtb-link-xs mtb-link mtb-link-dark-grey">jacethomas@help.co.za</a>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="d-flex flex-row justify-content-between">
                            <!-- <a href="javascript:void(0)" class="mtb-link mtb-link-sm mtb-link-light-grey">Remove</a> -->
                            <a href="javascript:void(0)" class="mtb-link mtb-link-sm mtb-link-light-grey" (click)="open($event, 'edit-kin')">Edit</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- List of other kins -->
        <div class="row">
            <div class="col-11 mt-4 ml-3">

                <div class="row my-2 fle-row align-items-center mtb-border-bottom">
                    <div class="col-2 text-center">
                        <img src="../assets/images/mtb-profile-image-01.jpg" alt="Doctor 01" class="mtb-image-circle-sm">
                    </div>
                    <div class="col-7 pl-0">
                        <h5 class="mtb-text-sm mt-2 mb-0">Jacob Thomas M Freddy</h5>
                        <p class="mtb-text-10">Brother</p>
                        <p class="d-flex flex-row align-items-center mtb-text-xs"><i class="ri-phone-fill mr-1"></i> +27 (0) 12 345 6789</p>
                        <p class="d-flex flex-row align-items-center mtb-text-xs"><i class="ri-mail-fill mr-1"></i> info@test.co.za</p>
                    </div>
                    <div class="col-3 text-right">
                        <a href="javascript:void(0)" class="mtb-link mtb-link-sm mtb-link-light-grey" (click)="open($event, 'edit-kin')"><i class="ri-edit-line"></i> Edit</a>
                    </div>
                </div>

                <div class="row my-2 fle-row align-items-center mtb-border-bottom">
                    <div class="col-2 text-center">
                        <img src="../assets/images/mtb-profile-image-01.jpg" alt="Doctor 01" class="mtb-image-circle-sm">
                    </div>
                    <div class="col-7 pl-0">
                        <h5 class="mtb-text-sm mt-2 mb-0">Jacob Thomas M Freddy</h5>
                        <p class="mtb-text-10">Brother</p>
                        <p class="d-flex flex-row align-items-center mtb-text-xs"><i class="ri-phone-fill mr-1"></i> +27 (0) 12 345 6789</p>
                        <p class="d-flex flex-row align-items-center mtb-text-xs"><i class="ri-mail-fill mr-1"></i> info@test.co.za</p>
                    </div>
                    <div class="col-3 text-right">
                        <a href="javascript:void(0)" class="mtb-link mtb-link-sm mtb-link-light-grey" (click)="open($event, 'edit-kin')"><i class="ri-edit-line"></i> Edit</a>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>


<!-- Popups -->