<div class="container h-100 mt-5">
    <div class="row mt-2 mb-3">
        <div class="col-12 col-lg-4">
            <div class="card mtb-card-reset">
                <div class="card-title">
                    <div class="mtb-img-profile-lg mx-auto my-4" style="background-image: url('../assets/images/mtb-profile-image-04.jpg')"></div>
                    <div class="w-100 mx-auto">
                        <h3 class="mtb-main-title-2 text-center">Dr. Joan Yonga Akoth (MD)</h3>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <h5 class="text-center mtb-main-title-4">General Practitioner</h5>
                    <h6 class="text-center mtb-main-title-5">General patient rating from other patients:</h6>
                    <span class="text-center d-flex justify-content-center mtb-main-title-6"><span>4</span>/5</span>
                </div>
            </div>
            <div class="card mtb-card-reset mt-5">
                <div class="card-body">

                    <div class="mtb-card-section-1">
                        <h5 class="mtb-card-section-title">Tertiary</h5>
                        <p class="mtb-card-section-body">University of Pretoria | University of Witswatersrand (BMed) </p>
                    </div>
                    <div class="mtb-card-section-1">
                        <h5 class="mtb-card-section-title">Specialization</h5>
                        <p class="mtb-card-section-body">Allergies | Dermatologists</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-12 col-lg-8">
            <h6 class="mtb-text-sm">License to practice: <span class="mtb-text-green">Valid for only South Africa</span></h6>
            <h5 class="mtb-main-title-7 mt-3">About Joan Akoth</h5>
            <p class="mtb-body-copy-4 mb-5">
                However, You may apply bug fixes, portability changes, and other modifications derived from the Source Code notice required by Exhibit A. You must make Source Code version from the Standard or Modified Versions as included in the Wikimedia Foundation
                Licensing Policy. Individual communities may elaborate upon and refine these requirements.
            </p>

            <div class="card mtb-card-reset">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4 d-flex flex-column justify-content-center align-items-center">
                            <h3 class="mtb-main-title-8">5 Years</h3>
                            <h6 class="mtb-main-title-9">of practice</h6>
                        </div>
                        <div class="col-4 d-flex flex-column justify-content-center align-items-center">
                            <h3 class="mtb-main-title-8">R 150.00</h3>
                            <h6 class="mtb-main-title-9">Per request</h6>
                            <p class="mtb-text-sm">R 350.00 in practice consultation</p>
                        </div>
                        <div class="col-4 pl-0 d-flex align-items-center">
                            <a href="javascript:void(0)" class="btn btn-block btn-sm text-uppercase mtb-btn-sm mtb-btn-green">Request assistance</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12 col-lg-6">
                    <h5 class="mtb-main-title-7">Contact details</h5>
                    <p class="mtb-body-copy-4">Email: <a href="mailto:joanakoth@doctor.co.za" class="mtb-link mtb-link-dark-grey">joanakoth@doctor.co.za</a>
                    </p>
                    <p class="mtb-body-copy-4">Telephone: <a href="tel:+27121234567" class="mtb-link mtb-link-dark-grey">+ 27 (0) 12 123 4567</a></p>
                    <p class="mtb-body-copy-4">Cellphone: <a href="tel:+27121234567" class="mtb-link mtb-link-dark-grey">+ 27 (0) 12 123 4567</a></p>
                </div>
                <div class="col-12 col-lg-6">
                    <h5 class="mtb-main-title-7">Office Address</h5>
                    <a href="https://www.google.com/maps/dir//West+St,+Sandown,+Sandton,+2031/@-26.1057833,28.0532623,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x1e95732db88fcc41:0x2e179f3e558daf7e!2m2!1d28.055451!2d-26.1057881!3e0" target="_blank" class="mtb-link mtb-link-dark-grey">
                        <p class="mtb-body-copy-4">1234 Africa Avenue,</p>
                        <p class="mtb-body-copy-4">Parktown,</p>
                        <p class="mtb-body-copy-4">Johannesburg,</p>
                        <p class="mtb-body-copy-4">South Africa 3109</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>