<div class="card mtb-card-reset h-100">
    <div class="card-title mtb-card-title">
        <h3 class="mtb-card-title-01">Current treatments</h3>
    </div>
    <div class="card-body pt-0 mtb-card-treatment-body">
        <div class="row mtb-border-bottom">
            <div class="col-2 pr-0">
                <div style="background-image: url('../assets/images/mtb-profile-image-04.jpg');" class="mtb-image-circle-sm "></div>
            </div>
            <div class="col-10 pl-0 d-flex justify-content-between">
                <div class="mtb-title-status-time">
                    <h6 class="mtb-title-custom-01">General find help request</h6>
                    <p>Dr. Joan Akoth <span class="mtb-title-profession">General Practioner</span></p>
                    <h6 class="mt-1 mtb-card-status-title">Status: <span class="mtb-title-status-highlight">Initial Statement</span></h6>
                </div>
                <p class="text-right">12:45</p>
            </div>
            <!-- <div class="col-12 mtb-card-body-info-1">
                <div class="d-flex justify-content-between">
                </div>
                <p class="mtb-card-info-title-subscripts">Ref: #0000 <span class="mtb-border-left">Requested: 07 September 2020 02:00 PM</span></p>
            </div> -->
            <div class="col-12 d-flex justify-content-between my-1">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                <a href="javascript:void(0)" class="d-flex justify-content-between mtb-link mtb-link-sm" [routerLink]="['/chat']" routerLinkActive="router-link-active">View <i class="ri-arrow-drop-right-line"></i></a>
            </div>
        </div>
        <div class="row mtb-border-bottom">
            <div class="col-2 pr-0">
                <div style="background-image: url('../assets/images/mtb-profile-image-04.jpg');" class="mtb-image-circle-sm "></div>
            </div>
            <div class="col-10 pl-0 d-flex justify-content-between">
                <div class="mtb-title-status-time">
                    <h6 class="mtb-title-custom-01">General find help request</h6>
                    <p>Dr. Joan Akoth <span class="mtb-title-profession">General Practioner</span></p>
                    <h6 class="mt-1 mtb-card-status-title">Status: <span class="mtb-title-status-highlight">Initial
                            Statement</span></h6>
                </div>
                <p class="text-right">12:45</p>
            </div>
            <!-- <div class="col-12 mtb-card-body-info-1">
                <div class="d-flex justify-content-between">
                </div>
                <p class="mtb-card-info-title-subscripts">Ref: #0000 <span class="mtb-border-left">Requested: 07 September 2020 02:00 PM</span></p>
            </div> -->
            <div class="col-12 d-flex justify-content-between my-1">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                <a href="javascript:void(0)" class="d-flex justify-content-between mtb-link mtb-link-sm" [routerLink]="['/chat']" routerLinkActive="router-link-active">View <i
                        class="ri-arrow-drop-right-line"></i></a>
            </div>
        </div>
    </div>
</div>