<div class="row">
    <div class="col-12 col-lg-3">

        <!-- <div class="row">
            <div class="col-12">
                <input type="text" name="" id="">
            </div>
        </div> -->

        <div class="mtb-chat-users-wrapper my-2">
            <h5 class="text-uppercase mtb-card-section-title">Chat messages</h5>

            <div class="mtb-chat-list-wrapper">
                <div class="row p-0 m-0 mtb-border-bottom">
                    <a href="javascript:void(0)" class="mtb-chat-user">
                        <div class="col-2 p-0 m-0 d-flex flex-row align-items-center justify-content-center">
                            <div class="mtb-image-circle-sm" style="background-image: url('../assets/images/mtb-profile-image-01.jpg');"></div>
                        </div>
                        <div class="col-8 d-flex flex-column justify-content-center align-items-start">
                            <h6 class="mb-0 mtb-text-xs-bold">Dr. Joan R Akoth</h6>
                            <p class="mtb-text-10">This is the message that...</p>
                        </div>
                        <div class="col-2 d-flex flex-column justify-content-center">
                            <p class="mtb-text-10">12:10</p>
                        </div>
                    </a>
                </div>

                <div class="row p-0 m-0 mtb-border-bottom">
                    <a href="javascript:void(0)" class="mtb-chat-user">
                        <div class="col-2 p-0 m-0 d-flex flex-row align-items-center justify-content-center">
                            <div class="mtb-image-circle-sm" style="background-image: url('../assets/images/mtb-profile-image-01.jpg');"></div>
                        </div>
                        <div class="col-8 d-flex flex-column justify-content-center align-items-start">
                            <h6 class="mb-0 mtb-text-xs-bold">Dr. Joan R Akoth</h6>
                            <p class="mtb-text-10">This is the message that...</p>
                        </div>
                        <div class="col-2 d-flex flex-column justify-content-center">
                            <p class="mtb-text-10">12:10</p>
                        </div>
                    </a>
                </div>

                <div class="row p-0 m-0 mtb-border-bottom">
                    <a href="javascript:void(0)" class="mtb-chat-user">
                        <div class="col-2 p-0 m-0 d-flex flex-row align-items-center justify-content-center">
                            <div class="mtb-image-circle-sm" style="background-image: url('../assets/images/mtb-profile-image-01.jpg');"></div>
                        </div>
                        <div class="col-8 d-flex flex-column justify-content-center align-items-start">
                            <h6 class="mb-0 mtb-text-xs-bold">Dr. Joan R Akoth</h6>
                            <p class="mtb-text-10">This is the message that...</p>
                        </div>
                        <div class="col-2 d-flex flex-column justify-content-center">
                            <p class="mtb-text-10">12:10</p>
                        </div>
                    </a>
                </div>

                <div class="row p-0 m-0 mtb-border-bottom">
                    <a href="javascript:void(0)" class="mtb-chat-user">
                        <div class="col-2 p-0 m-0 d-flex flex-row align-items-center justify-content-center">
                            <div class="mtb-image-circle-sm" style="background-image: url('../assets/images/mtb-profile-image-01.jpg');"></div>
                        </div>
                        <div class="col-8 d-flex flex-column justify-content-center align-items-start">
                            <h6 class="mb-0 mtb-text-xs-bold">Dr. Joan R Akoth</h6>
                            <p class="mtb-text-10">This is the message that...</p>
                        </div>
                        <div class="col-2 d-flex flex-column justify-content-center">
                            <p class="mtb-text-10">12:10</p>
                        </div>
                    </a>
                </div>

                <div class="row p-0 m-0 mtb-border-bottom">
                    <a href="javascript:void(0)" class="mtb-chat-user">
                        <div class="col-2 p-0 m-0 d-flex flex-row align-items-center justify-content-center">
                            <div class="mtb-image-circle-sm" style="background-image: url('../assets/images/mtb-profile-image-01.jpg');"></div>
                        </div>
                        <div class="col-8 d-flex flex-column justify-content-center align-items-start">
                            <h6 class="mb-0 mtb-text-xs-bold">Dr. Joan R Akoth</h6>
                            <p class="mtb-text-10">This is the message that...</p>
                        </div>
                        <div class="col-2 d-flex flex-column justify-content-center">
                            <p class="mtb-text-10">12:10</p>
                        </div>
                    </a>
                </div>

                <div class="row p-0 m-0 mtb-border-bottom">
                    <a href="javascript:void(0)" class="mtb-chat-user">
                        <div class="col-2 p-0 m-0 d-flex flex-row align-items-center justify-content-center">
                            <div class="mtb-image-circle-sm" style="background-image: url('../assets/images/mtb-profile-image-01.jpg');"></div>
                        </div>
                        <div class="col-8 d-flex flex-column justify-content-center align-items-start">
                            <h6 class="mb-0 mtb-text-xs-bold">Dr. Joan R Akoth</h6>
                            <p class="mtb-text-10">This is the message that...</p>
                        </div>
                        <div class="col-2 d-flex flex-column justify-content-center">
                            <p class="mtb-text-10">12:10</p>
                        </div>
                    </a>
                </div>

                <div class="row p-0 m-0 mtb-border-bottom">
                    <a href="javascript:void(0)" class="mtb-chat-user">
                        <div class="col-2 p-0 m-0 d-flex flex-row align-items-center justify-content-center">
                            <div class="mtb-image-circle-sm" style="background-image: url('../assets/images/mtb-profile-image-01.jpg');"></div>
                        </div>
                        <div class="col-8 d-flex flex-column justify-content-center align-items-start">
                            <h6 class="mb-0 mtb-text-xs-bold">Dr. Joan R Akoth</h6>
                            <p class="mtb-text-10">This is the message that...</p>
                        </div>
                        <div class="col-2 d-flex flex-column justify-content-center">
                            <p class="mtb-text-10">12:10</p>
                        </div>
                    </a>
                </div>

                <div class="row p-0 m-0 mtb-border-bottom">
                    <a href="javascript:void(0)" class="mtb-chat-user">
                        <div class="col-2 p-0 m-0 d-flex flex-row align-items-center justify-content-center">
                            <div class="mtb-image-circle-sm" style="background-image: url('../assets/images/mtb-profile-image-01.jpg');"></div>
                        </div>
                        <div class="col-8 d-flex flex-column justify-content-center align-items-start">
                            <h6 class="mb-0 mtb-text-xs-bold">Dr. Joan R Akoth</h6>
                            <p class="mtb-text-10">This is the message that...</p>
                        </div>
                        <div class="col-2 d-flex flex-column justify-content-center">
                            <p class="mtb-text-10">12:10</p>
                        </div>
                    </a>
                </div>

                <div class="row p-0 m-0 mtb-border-bottom">
                    <a href="javascript:void(0)" class="mtb-chat-user">
                        <div class="col-2 p-0 m-0 d-flex flex-row align-items-center justify-content-center">
                            <div class="mtb-image-circle-sm" style="background-image: url('../assets/images/mtb-profile-image-01.jpg');"></div>
                        </div>
                        <div class="col-8 d-flex flex-column justify-content-center align-items-start">
                            <h6 class="mb-0 mtb-text-xs-bold">Dr. Joan R Akoth</h6>
                            <p class="mtb-text-10">This is the message that...</p>
                        </div>
                        <div class="col-2 d-flex flex-column justify-content-center">
                            <p class="mtb-text-10">12:10</p>
                        </div>
                    </a>
                </div>

                <div class="row p-0 m-0 mtb-border-bottom">
                    <a href="javascript:void(0)" class="mtb-chat-user">
                        <div class="col-2 p-0 m-0 d-flex flex-row align-items-center justify-content-center">
                            <div class="mtb-image-circle-sm" style="background-image: url('../assets/images/mtb-profile-image-01.jpg');"></div>
                        </div>
                        <div class="col-8 d-flex flex-column justify-content-center align-items-start">
                            <h6 class="mb-0 mtb-text-xs-bold">Dr. Joan R Akoth</h6>
                            <p class="mtb-text-10">This is the message that...</p>
                        </div>
                        <div class="col-2 d-flex flex-column justify-content-center">
                            <p class="mtb-text-10">12:10</p>
                        </div>
                    </a>
                </div>

                <div class="row p-0 m-0 mtb-border-bottom">
                    <a href="javascript:void(0)" class="mtb-chat-user">
                        <div class="col-2 p-0 m-0 d-flex flex-row align-items-center justify-content-center">
                            <div class="mtb-image-circle-sm" style="background-image: url('../assets/images/mtb-profile-image-01.jpg');"></div>
                        </div>
                        <div class="col-8 d-flex flex-column justify-content-center align-items-start">
                            <h6 class="mb-0 mtb-text-xs-bold">Dr. Joan R Akoth</h6>
                            <p class="mtb-text-10">This is the message that...</p>
                        </div>
                        <div class="col-2 d-flex flex-column justify-content-center">
                            <p class="mtb-text-10">12:10</p>
                        </div>
                    </a>
                </div>

            </div>


        </div>

    </div>

    <!-- Chat Message -->
    <!-- Chat -->
    <div class="col-12 col-lg-6  mtb-chat-quick-view-wrapper">

        <div class="row py-2">
            <div class="col-12 col-lg-8 d-flex flex-row">
                <a href="javascript:void(0)" class="mtb-chat-icon-header-2"><i class="ri-live-fill"></i>Start a live
                    video</a>
                <a href="javascript:void(0)" (click)="inviteDoctor()" class="ml-2 mtb-border-left pl-2 mtb-chat-icon-header-2">Invite another doctor</a>
            </div>
            <div class="col-12 col-lg-4 d-flex flex-row justify-content-end">
                <a href="javascript:void(0)" class="mtb-chat-icon-header-2" (click)="openEndChat()"><i class="pt-1 m-0 ri-close-fill"></i> End chat</a>
            </div>
        </div>

        <div class="mtb-chat-containaner">
            <div class="mtb-chat-messages-view-container" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                <div class="mtb-other-chatter">
                    <div class="mtb-chat-image" style="background-image: url('../assets/images/mtb-profile-image-01.jpg');"></div>
                    <div class="mtb-chat-message">
                        <p>Lorem Ipsum..... <span class="mtb-message-time">12:00 AM</span></p>
                    </div>
                </div>
                <div class="mtb-user-chatter">
                    <div class="mtb-chat-message">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. <span class="mtb-message-time">12:00
                                    AM</span></p>
                    </div>
                    <div class="mtb-chat-image" style="background-image: url('../assets/images/mtb-profile-image-02.jpg');"></div>
                </div>
                <div class="mtb-other-chatter">
                    <div class="mtb-chat-image" style="background-image: url('../assets/images/mtb-profile-image-01.jpg');">
                    </div>
                    <div class="mtb-chat-message">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            <span class="mtb-message-time">12:00 AM</span>
                        </p>
                    </div>
                </div>
                <div class="mtb-user-chatter">
                    <div class="mtb-chat-message">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. <span class="mtb-message-time">12:00
                                    AM</span></p>
                    </div>
                    <div class="mtb-chat-image" style="background-image: url('../assets/images/mtb-profile-image-02.jpg');">
                    </div>
                </div>
                <div class="mtb-user-chatter">
                    <div class="mtb-chat-message">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. <span class="mtb-message-time">12:00
                                    AM</span></p>
                    </div>
                    <div class="mtb-chat-image" style="background-image: url('../assets/images/mtb-profile-image-02.jpg');">
                    </div>
                </div>
                <div class="mtb-other-chatter">
                    <div class="mtb-chat-image" style="background-image: url('../assets/images/mtb-profile-image-01.jpg');">
                    </div>
                    <div class="mtb-chat-message">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            <span class="mtb-message-time">12:00 AM</span>
                        </p>
                    </div>
                </div>
                <div class="mtb-other-chatter">
                    <div class="mtb-chat-image" style="background-image: url('../assets/images/mtb-profile-image-01.jpg');">
                    </div>
                    <div class="mtb-chat-message">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            <span class="mtb-message-time">12:00 AM</span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- <p class="mtb-chat-disabled" [ngClass]="{'mtb-chat-show': requestedId === '0123492'}">You can not continue chatting, this chat has been concluded</p> -->
            <div class="d-flex mtb-chat-input-wrapper">
                <div class="mtb-chat-input-other-actions">
                    <a href="javascript:void(0)" class="mtb-chat-icon"><i class="ri-upload-cloud-fill"></i></a>
                </div>
                <div class="mtb-chat-input-typing-container">
                    <textarea type="text" placeholder="Type message" row="1" col="4"></textarea>
                    <div>
                        <a href="javascript:void(0)" class="btn btn-xs mtb-btn mtb-btn-sm mtb-btn-black-o-4 mtb-btn-reset mtb-chat-send">Send</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Chat Message -->

    <!-- Chat settings -->
    <div class="col-12 col-lg-3 mtb-chat-extra-info-wrapper">
        <div class="row mtb-main-doctor-info">
            <div class="col-12 d-flex flex-row justify-content-center align-items-center px-0">
                <div class="mtb-chat-extra-info-image-1" style="background-image: url('../assets/images/mtb-profile-image-01.jpg');"></div>
            </div>
            <div class="col-12 pl-0">
                <div class="text-center mt-3 mtb-chat-extra-contact-info">
                    <h4>Dr. Joan Akoth</h4>
                    <p>Specialisation: General Practioner</p>
                    <p>Office Number: +27 (0) 12 345 6789</p>
                    <p>Office Email: info@medihelp.co.za</p>
                </div>
            </div>
        </div>

        <div class="mtb-doctor-view-actions-wrapper">
            <div class="mtb-action-profile-wwrapper">
                <a href="javascript:void(0)" class="btn btn-sm btn-outline-light" (click)="viewProfile('012393', 'view-chat')">View Profile</a>
            </div>
            <!-- <div class="mtb-action-patient-actions-wrapper">
                <a href="javascript:void(0)" class="">View Health Card</a>
                <a href="javascript:void(0)" class="">View Past Consultation Notes</a>
            </div> -->
        </div>

        <div class="row mtb-chat-extra-info-stats">
            <div class="col-12 col-lg-12 pl-0">
                <div class="mtb-chat-info-small">
                    <p>Initial Request: <span class="mtb-chat-info-stats-highlight">02 September 2020</span></p>
                    <p>Status: <span class="mtb-chat-info-stats-highlight">In Progress</span></p>
                </div>
                <h5 class="mtb-chat-info-stats-duration">Session duration: <span class="mtb-chat-info-duration-hightlight">0 days 00: 00: 00</span></h5>
            </div>
            <div class="col-12 col-lg-12 pl-0">
                <h6 class="mtb-chat-extra-info-title">Chat security settings</h6>
                <div class="mtb-chat-info-security-check">
                    <p>Basic Information</p>
                    <a href="javascript:void(0)" (click)="open($event, 'basic-information')">Granted access</a>
                </div>
                <div class="mtb-chat-info-security-check">
                    <p>Medical History</p>
                    <a href="javascript:void(0)" (click)="open($event, 'medical-history')">Up to last month</a>
                </div>
                <div class="mtb-chat-info-security-check">
                    <p>Medical Allergies</p>
                    <a href="javascript:void(0)" (click)="open($event, 'medical-allergy')">Granted access</a>
                </div>
            </div>
        </div>

        <div class="mtb-chat-profile-view" *ngIf="showSlideComponent">
            <div class="container mtb-right-slide-out">
                <div class="row">
                    <div class="col-12 d-flex flex-row justify-content-between align-items-center py-2 px-3 mtb-header-chat-profile-view">
                        <h4 class="mb-0 mtb-main-title-7">Allan J profile</h4>
                        <a href="javascript:void(0)" class="d-flex flex-row align-items-center pt-1 mtb-link mtb-link-sm-close" (click)="viewProfile('012393', 'view-chat')"><i class="ri-close-fill"></i> Close</a>
                    </div>

                    <!-- Actions -->
                    <div class="col-12 d-flex flex-row justify-content-between mtb-profile-actions-wrapper">
                        <a href="javascript:void(0)" class="mtb-icon-text-link text-uppercase mtb-btn mtb-btn-xs active" (click)="changeView($event, 'information')">Information</a>
                        <a href="javascript:void(0)" class="mtb-icon-text-link text-uppercase mtb-btn mtb-btn-xs" (click)="changeView($event, 'history')">History</a>
                        <a href="javascript:void(0)" class="mtb-icon-text-link text-uppercase mtb-btn mtb-btn-xs" (click)="changeView($event, 'allergies')">Allergies</a>
                        <!-- <a href="javascript:void(0)" class="mtb-icon-text-link text-uppercase mtb-btn mtb-btn-xs" (click)="changeView($event, 'notes')">Notes</a> -->
                    </div>
                    <!-- End of Actions -->

                    <!-- Content Area -->
                    <div class="col-12">
                        <ng-container *ngIf="showInformation">
                            <div class="row mt-3">
                                <div class="col-12">
                                    <h4 class="mtb-text-grey">Basic Information</h4>
                                </div>
                            </div>

                            <ul ngbNav #nav="ngbNav" class="nav-tabs mtb-tabbed-nav">
                                <li ngbNavItem>
                                    <a ngbNavLink>Basic information</a>
                                    <ng-template ngbNavContent>
                                        <div class="row">
                                            <div class="col-12">

                                                <!-- Name -->
                                                <div class="d-flex flex-row justify-content-between mb-0 py-2 mtb-border-bottom mtb-chat-settings-options">
                                                    <p>Name</p>
                                                    <p class="highlight">Allan Jones</p>
                                                </div>

                                                <!-- Surname -->
                                                <div class="d-flex flex-row justify-content-between mb-0 py-2 mtb-border-bottom mtb-chat-settings-options">
                                                    <p>Surname</p>
                                                    <p class="highlight">Dennis</p>
                                                </div>

                                                <!-- Date of birth -->
                                                <div class="d-flex flex-row justify-content-between mb-0 py-2 mtb-chat-settings-options">
                                                    <p>Date of birth</p>
                                                    <p class="highlight">19 March 1990 <em>(30 Years)</em></p>
                                                </div>

                                                <h4 class="mtb-card-section-title mt-3">Address</h4>

                                                <!-- Suburb -->
                                                <div class="d-flex flex-row justify-content-between mb-0 py-2 mtb-border-bottom mtb-chat-settings-options">
                                                    <p>Suburb</p>
                                                    <p class="highlight">Randburg</p>
                                                </div>

                                                <!-- City of residence -->
                                                <div class="d-flex flex-row justify-content-between mb-0 py-2 mtb-border-bottom mtb-chat-settings-options">
                                                    <p>Place of residence</p>
                                                    <p class="highlight">Johannesburg</p>
                                                </div>

                                                <!-- Province -->
                                                <div class="d-flex flex-row justify-content-between mb-0 py-2 mtb-border-bottom mtb-chat-settings-options">
                                                    <p>Province</p>
                                                    <p class="highlight">Gauteng</p>
                                                </div>

                                                <!-- Country -->
                                                <div class="d-flex flex-row justify-content-between mb-0 py-2 mtb-border-bottom mtb-chat-settings-options">
                                                    <p>Country</p>
                                                    <p class="highlight">South Africa (ZA)</p>
                                                </div>

                                            </div>
                                        </div>
                                    </ng-template>
                                </li>
                                <li ngbNavItem>
                                    <a ngbNavLink>Health Card</a>
                                    <ng-template ngbNavContent>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="health-info-wrapper">

                                                    <!-- Day 01 -->
                                                    <div class="health-card-info-wrapper">
                                                        <h6 class="mtb-main-title-5">12 October 2020 - Thursday</h6>
                                                        <div class="d-flex flex-row justify-content-between mb-0 py-2 mtb-border-bottom mtb-chat-settings-options">
                                                            <p>Temperature</p>
                                                            <p class="highlight">34.5</p>
                                                        </div>
                                                        <div class="d-flex flex-row justify-content-between mb-0 py-2 mtb-border-bottom mtb-chat-settings-options">
                                                            <p>Sugar level</p>
                                                            <p class="highlight">Avg 4.5</p>
                                                        </div>
                                                        <div class="d-flex flex-row justify-content-between mb-0 py-2 mtb-border-bottom mtb-chat-settings-options">
                                                            <p>Weight</p>
                                                            <p class="highlight">70kg</p>
                                                        </div>
                                                        <div class="d-flex flex-row justify-content-between mb-0 py-2 mtb-border-bottom mtb-chat-settings-options">
                                                            <p>Blood pressure</p>
                                                            <p class="highlight">Avg 80/110</p>
                                                        </div>
                                                    </div>

                                                    <!-- Day 01 -->
                                                    <div class="health-card-info-wrapper">
                                                        <h6 class="mtb-main-title-5">12 October 2020 - Thursday</h6>
                                                        <div class="d-flex flex-row justify-content-between mb-0 py-2 mtb-border-bottom mtb-chat-settings-options">
                                                            <p>Temperature</p>
                                                            <p class="highlight">34.5</p>
                                                        </div>
                                                        <div class="d-flex flex-row justify-content-between mb-0 py-2 mtb-border-bottom mtb-chat-settings-options">
                                                            <p>Sugar level</p>
                                                            <p class="highlight">Avg 4.5</p>
                                                        </div>
                                                        <div class="d-flex flex-row justify-content-between mb-0 py-2 mtb-border-bottom mtb-chat-settings-options">
                                                            <p>Weight</p>
                                                            <p class="highlight">70kg</p>
                                                        </div>
                                                        <div class="d-flex flex-row justify-content-between mb-0 py-2 mtb-border-bottom mtb-chat-settings-options">
                                                            <p>Blood pressure</p>
                                                            <p class="highlight">Avg 80/110</p>
                                                        </div>
                                                    </div>

                                                    <!-- Day 01 -->
                                                    <div class="health-card-info-wrapper">
                                                        <h6 class="mtb-main-title-5">12 October 2020 - Thursday</h6>
                                                        <div class="d-flex flex-row justify-content-between mb-0 py-2 mtb-border-bottom mtb-chat-settings-options">
                                                            <p>Temperature</p>
                                                            <p class="highlight">34.5</p>
                                                        </div>
                                                        <div class="d-flex flex-row justify-content-between mb-0 py-2 mtb-border-bottom mtb-chat-settings-options">
                                                            <p>Sugar level</p>
                                                            <p class="highlight">Avg 4.5</p>
                                                        </div>
                                                        <div class="d-flex flex-row justify-content-between mb-0 py-2 mtb-border-bottom mtb-chat-settings-options">
                                                            <p>Weight</p>
                                                            <p class="highlight">70kg</p>
                                                        </div>
                                                        <div class="d-flex flex-row justify-content-between mb-0 py-2 mtb-border-bottom mtb-chat-settings-options">
                                                            <p>Blood pressure</p>
                                                            <p class="highlight">Avg 80/110</p>
                                                        </div>
                                                    </div>

                                                    <!-- Day 01 -->
                                                    <div class="health-card-info-wrapper">
                                                        <h6 class="mtb-main-title-5">12 October 2020 - Thursday</h6>
                                                        <div class="d-flex flex-row justify-content-between mb-0 py-2 mtb-border-bottom mtb-chat-settings-options">
                                                            <p>Temperature</p>
                                                            <p class="highlight">34.5</p>
                                                        </div>
                                                        <div class="d-flex flex-row justify-content-between mb-0 py-2 mtb-border-bottom mtb-chat-settings-options">
                                                            <p>Sugar level</p>
                                                            <p class="highlight">Avg 4.5</p>
                                                        </div>
                                                        <div class="d-flex flex-row justify-content-between mb-0 py-2 mtb-border-bottom mtb-chat-settings-options">
                                                            <p>Weight</p>
                                                            <p class="highlight">70kg</p>
                                                        </div>
                                                        <div class="d-flex flex-row justify-content-between mb-0 py-2 mtb-border-bottom mtb-chat-settings-options">
                                                            <p>Blood pressure</p>
                                                            <p class="highlight">Avg 80/110</p>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </li>
                            </ul>
                            <div [ngbNavOutlet]="nav"></div>

                        </ng-container>
                        <ng-container *ngIf="showHistory">
                            <div class="row mt-3">
                                <div class="col-12">
                                    <h4 class="mtb-text-grey">Medical History</h4>
                                </div>

                                <div class="col-12">
                                    <div class="health-info-wrapper">

                                        <!-- History Entry one -->
                                        <div class="">
                                            <h6 class="mtb-text-xs-bold mt-4">12 October 2020 - Thursday</h6>
                                            <div class="d-flex flex-row justify-content-between mb-0 py-2 mtb-border-bottom mtb-chat-settings-options">
                                                <p>Doctor name</p>
                                                <p class="highlight">Dr Joan A Rose</p>
                                            </div>
                                            <div class="d-flex flex-row justify-content-between mb-0 py-2 mtb-chat-settings-options">
                                                <p>Seen doctor</p>
                                                <p class="highlight">12 July 2020 12:00 PM</p>
                                            </div>
                                            <div class="px-2">
                                                <p class="mtb-text-xs-bold"> Doctor notes</p>
                                                <p class="pb-1 mtb-text-xs">
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                                </p>
                                                <p class="pb-1 mtb-text-xs">
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                                </p>
                                            </div>
                                        </div>


                                        <!-- History Entry one -->
                                        <div class="">
                                            <h6 class="mtb-text-xs-bold mt-4">12 October 2020 - Thursday</h6>
                                            <div class="d-flex flex-row justify-content-between mb-0 py-2 mtb-border-bottom mtb-chat-settings-options">
                                                <p>Doctor name</p>
                                                <p class="highlight">Dr Joan A Rose</p>
                                            </div>
                                            <div class="d-flex flex-row justify-content-between mb-0 py-2 mtb-chat-settings-options">
                                                <p>Seen doctor</p>
                                                <p class="highlight">12 July 2020</p>
                                            </div>
                                            <div class="px-2">
                                                <p class="mtb-text-xs-bold"> Doctor notes</p>
                                                <p class="pb-1 mtb-text-xs">
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                                </p>
                                                <p class="pb-1 mtb-text-xs">
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                                </p>
                                            </div>
                                        </div>

                                        <!-- History Entry one -->
                                        <div class="">
                                            <h6 class="mtb-text-xs-bold mt-4">12 October 2020 - Thursday</h6>
                                            <div class="d-flex flex-row justify-content-between mb-0 py-2 mtb-border-bottom mtb-chat-settings-options">
                                                <p>Doctor name</p>
                                                <p class="highlight">Dr Joan A Rose</p>
                                            </div>
                                            <div class="d-flex flex-row justify-content-between mb-0 py-2 mtb-chat-settings-options">
                                                <p>Seen doctor</p>
                                                <p class="highlight">12 July 2020</p>
                                            </div>
                                            <div class="px-2">
                                                <p class="mtb-text-xs-bold"> Doctor notes</p>
                                                <p class="pb-1 mtb-text-xs">
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                                </p>
                                                <p class="pb-1 mtb-text-xs">
                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                                </p>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>
                        </ng-container>
                        <ng-container *ngIf="showAllergies">
                            <div class="row mt-3">
                                <div class="col-12">
                                    <h4 class="mb-0 mtb-text-grey">Allergies</h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">

                                    <!-- Allergies -->
                                    <div class="d-flex flex-row justify-content-between mb-0 py-1 px-0 mtb-border-bottom mtb-chat-settings-options">
                                        <p class="highlight">amoxicillin (Moxatag), ampicillin, penicillin (Bicillin L-A)</p>
                                    </div>

                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-12">
                                    <h4 class="mb-0 mtb-text-grey">Vaccines</h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">

                                    <!-- Allergies -->
                                    <div class="d-flex flex-row justify-content-between mb-0 py-1 px-0 mtb-border-bottom mtb-chat-settings-options">
                                        <p class="highlight">Polio, Mumps, Measles, Rubella</p>
                                    </div>

                                </div>
                            </div>

                        </ng-container>
                        <ng-container *ngIf="showNotes">
                            <div class="row mt-3">
                                <div class="col-12">
                                    <h4 class="mtb-text-grey">Notes</h4>
                                </div>
                            </div>
                        </ng-container>
                    </div>

                    <!-- End of Content Area -->

                </div>
            </div>
        </div>
    </div>

    <!-- Chat settings -->
</div>

<!-- View Profile -->
<!-- <app-page-footer-slide-out [showElement]="showSlideComponent" (closeFooterSlideOut)="footerSlideOutClose($event)" [(refId)]="slideOutRef" [elementToShow]="slideOutView" [elementData]="{'title': 'Payment for ' }">
</app-page-footer-slide-out> -->

<!-- End Chat Info -->
<app-footer-slideout-end-chat [showElement]="showEndChat" (closeFooterSlideOut)="footerSlideOutClose($event)" [endChatData]="{ name: patientName }"></app-footer-slideout-end-chat>
<!-- End Chat Info -->