<div class="row">
    <div class="col-12 col-lg-3">

        <!-- <div class="row">
            <div class="col-12">
                <input type="text" name="" id="">
            </div>
        </div> -->

        <div class="mtb-chat-users-wrapper my-2">
            <h5 class="text-uppercase mtb-card-section-title">Chat messages</h5>
            <div class="row p-0 m-0 mtb-border-bottom">
                <a href="javascript:void(0)" class="mtb-chat-user">
                    <div class="col-2 p-0 m-0 d-flex flex-row align-items-center justify-content-center">
                        <div class="mtb-image-circle-sm" style="background-image: url('../assets/images/mtb-profile-image-01.jpg');"></div>
                    </div>
                    <div class="col-8 d-flex flex-column justify-content-center align-items-start">
                        <h6 class="mb-0 mtb-text-xs-bold">Dr. Joan R Akoth</h6>
                        <p class="mtb-text-10">This is the message that...</p>
                    </div>
                    <div class="col-2 d-flex flex-column justify-content-center">
                        <p class="mtb-text-10">12:10</p>
                    </div>
                </a>
            </div>

            <div class="row p-0 m-0 mtb-border-bottom">
                <a href="javascript:void(0)" class="mtb-chat-user">
                    <div class="col-2 p-0 m-0 d-flex flex-row align-items-center justify-content-center">
                        <div class="mtb-image-circle-sm" style="background-image: url('../assets/images/mtb-profile-image-01.jpg');"></div>
                    </div>
                    <div class="col-8 d-flex flex-column justify-content-center align-items-start">
                        <h6 class="mb-0 mtb-text-xs-bold">Dr. Joan R Akoth</h6>
                        <p class="mtb-text-10">This is the message that...</p>
                    </div>
                    <div class="col-2 d-flex flex-column justify-content-center">
                        <p class="mtb-text-10">12:10</p>
                    </div>
                </a>
            </div>
        </div>

    </div>

    <!-- Chat Message -->
    <!-- Chat -->
    <div class="col-12 col-lg-6  mtb-chat-quick-view-wrapper">

        <div class="row py-2">
            <div class="col-12 col-lg-8 d-flex flex-row">
                <a href="javascript:void(0)" class="mtb-chat-icon-header-2"><i class="ri-live-fill"></i>Start a live
                    video</a>
                <a href="javascript:void(0)" class="ml-2 mtb-border-left pl-2 mtb-chat-icon-header-2">Invite another doctor</a>
            </div>
            <div class="col-12 col-lg-4 d-flex flex-row justify-content-end">
                <a href="javascript:void(0)" class="mtb-chat-icon-header-2"><i class="pt-1 m-0 ri-close-fill"></i> End chat</a>
            </div>
        </div>

        <div class="mtb-chat-containaner">
            <div class="mtb-chat-messages-view-container">
                <div class="mtb-other-chatter">
                    <div class="mtb-chat-image" style="background-image: url('../assets/images/mtb-profile-image-01.jpg');"></div>
                    <div class="mtb-chat-message">
                        <p>Lorem Ipsum..... <span class="mtb-message-time">12:00 AM</span></p>
                    </div>
                </div>
                <div class="mtb-user-chatter">
                    <div class="mtb-chat-message">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. <span class="mtb-message-time">12:00
                                    AM</span></p>
                    </div>
                    <div class="mtb-chat-image" style="background-image: url('../assets/images/mtb-profile-image-02.jpg');"></div>
                </div>
                <div class="mtb-other-chatter">
                    <div class="mtb-chat-image" style="background-image: url('../assets/images/mtb-profile-image-01.jpg');">
                    </div>
                    <div class="mtb-chat-message">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            <span class="mtb-message-time">12:00 AM</span>
                        </p>
                    </div>
                </div>
                <div class="mtb-user-chatter">
                    <div class="mtb-chat-message">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. <span class="mtb-message-time">12:00
                                    AM</span></p>
                    </div>
                    <div class="mtb-chat-image" style="background-image: url('../assets/images/mtb-profile-image-02.jpg');">
                    </div>
                </div>
                <div class="mtb-user-chatter">
                    <div class="mtb-chat-message">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. <span class="mtb-message-time">12:00
                                    AM</span></p>
                    </div>
                    <div class="mtb-chat-image" style="background-image: url('../assets/images/mtb-profile-image-02.jpg');">
                    </div>
                </div>
                <div class="mtb-other-chatter">
                    <div class="mtb-chat-image" style="background-image: url('../assets/images/mtb-profile-image-01.jpg');">
                    </div>
                    <div class="mtb-chat-message">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            <span class="mtb-message-time">12:00 AM</span>
                        </p>
                    </div>
                </div>
                <div class="mtb-other-chatter">
                    <div class="mtb-chat-image" style="background-image: url('../assets/images/mtb-profile-image-01.jpg');">
                    </div>
                    <div class="mtb-chat-message">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            <span class="mtb-message-time">12:00 AM</span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- <p class="mtb-chat-disabled" [ngClass]="{'mtb-chat-show': requestedId === '0123492'}">You can not continue chatting, this chat has been concluded</p> -->
            <div class="d-flex mtb-chat-input-wrapper">
                <div class="mtb-chat-input-other-actions">
                    <a href="javascript:void(0)" class="mtb-chat-icon"><i class="ri-upload-cloud-fill"></i></a>
                </div>
                <div class="mtb-chat-input-typing-container">
                    <textarea type="text" placeholder="Type message" row="1" col="4"></textarea>
                    <div>
                        <a href="javascript:void(0)" class="btn btn-xs mtb-btn mtb-btn-sm mtb-btn-black-o-4 mtb-btn-reset mtb-chat-send">Send</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Chat Message -->

    <!-- Chat settings -->
    <div class="col-12 col-lg-3 mtb-chat-extra-info-wrapper">
        <div class="row mtb-main-doctor-info">
            <div class="col-12 d-flex flex-row justify-content-center align-items-center px-0">
                <div class="mtb-chat-extra-info-image-1" style="background-image: url('../assets/images/mtb-profile-image-01.jpg');"></div>
            </div>
            <div class="col-12 pl-0">
                <div class="text-center mt-3 mtb-chat-extra-contact-info">
                    <h4>Dr. Joan Akoth</h4>
                    <p>Specialisation: General Practioner</p>
                    <p>Office Number: +27 (0) 12 345 6789</p>
                    <p>Office Email: info@medihelp.co.za</p>
                </div>
            </div>
        </div>

        <div class="row mtb-chat-extra-info-stats">
            <div class="col-12 col-lg-12 pl-0">
                <div class="mtb-chat-info-small">
                    <p>Initial Request: <span class="mtb-chat-info-stats-highlight">02 September 2020</span></p>
                    <p>Status: <span class="mtb-chat-info-stats-highlight">In Progress</span></p>
                </div>
                <h5 class="mtb-chat-info-stats-duration">Session duration: <span class="mtb-chat-info-duration-hightlight">0 days 00: 00: 00</span></h5>
            </div>
            <div class="col-12 col-lg-12 pl-0">
                <h6 class="mtb-chat-extra-info-title">Chat security settings</h6>
                <div class="mtb-chat-info-security-check">
                    <p>Basic Information</p>
                    <a href="javascript:void(0)" (click)="open(basicInfoSecurity)">Granted access</a>
                </div>
                <div class="mtb-chat-info-security-check">
                    <p>Medical History</p>
                    <a href="javascript:void(0)" (click)="open(MedicalHistorySecurity)">Up to last month</a>
                </div>
                <div class="mtb-chat-info-security-check">
                    <p>Medical Allergies</p>
                    <a href="javascript:void(0)" (click)="open(MedicalAllergySecurity)">Granted access</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Chat settings -->
</div>