<div class="card mtb-card-reset h-100">
    <div class="card-title d-flex justify-content-between align-items-center mtb-card-title">
        <div>
            <h3 class="mb-0 mtb-card-title-02">Allan Paul</h3>
            <p class="mtb-card-title-01">Dennis</p>
        </div>
        <div style="background-image: url('../assets/images/mtb-profile-image-01.jpg');" class="mtb-image-circle-lg"></div>
    </div>
    <div class="card-body pt-0 mtb-card-treatment-body">
        <div class="row mtb-border-bottom-2">
            <div class="col-12 d-flex justify-content-between mtb-card-body-info-2">
                <p>Age</p>
                <p>29</p>
            </div>
        </div>
        <div class="row mtb-border-bottom-2">
            <div class="col-12 d-flex justify-content-between mtb-card-body-info-2">
                <p>Gender</p>
                <p>male</p>
            </div>
        </div>
        <div class="row mtb-border-bottom-2">
            <div class="col-12 d-flex justify-content-between mtb-card-body-info-2">
                <p>Mobile</p>
                <p><a href="tel:+27123456789" class="mtb-link mtb-link-sm">+27 (0) 12 345 6789</a></p>
            </div>
        </div>
        <div class="row mtb-border-bottom-2">
            <div class="col-12 d-flex justify-content-between mtb-card-body-info-2">
                <p>Preffered method of payment</p>
                <p>Cash</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12 d-flex flex-column justify-content-between mtb-card-body-info-2">
                <p>Allergies</p>
                <p><strong>Aspirin | Amoxicillin | Penicillin</strong></p>
            </div>
        </div>
        <div class="row mtb-border-bottom-2">
            <div class="col-12 mtb-card-body-info-2">
                <a href="javascript:void(0)" class="mtb-link mtb-link-sm">View profile</a>
            </div>
        </div>
    </div>
</div>