<div class="row py-4 px-4">

    <!-- Notification -->
    <div class="col-12 pb-3">
        <app-header-notification [notificationType]="'green'" [notificationTitle]="'Treatment request status changed'" [notificationMessage]="'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s'"
            [notificationMainLinkText]="'View content'">
        </app-header-notification>
    </div>
    <!-- Header -->
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-lg-9">
                <app-card-payments-mini></app-card-payments-mini>
            </div>
            <div class="col-12 col-lg-3 d-flex flex-row justify-content-end align-items-center">
                <a href="javascript:void(0)" class="mtb-link mtb-link-md mtb-link-bold mtb-link-divider">Share basic info</a>
                <a href="javascript:void(0)" class="mtb-link mtb-link-md"><i class="ri-add-line"></i> Create a new request</a>
            </div>
        </div>
    </div>

    <!-- First Row -->
    <div class="col-12">
        <div class="row equal">
            <div class="col-12 col-lg-5 mt-4">
                <app-card-current-treatment-mini></app-card-current-treatment-mini>
            </div>
            <div class="col-12 col-lg-4 mt-4">
                <app-card-primary-physician-mini></app-card-primary-physician-mini>
            </div>
            <div class="col-12 col-lg-3 mt-4">
                <app-card-profile-mini></app-card-profile-mini>
            </div>
        </div>
    </div>
</div>