<div class="container h-100 mt-5">
    <div class="row my-5">
        <div class="col-12 col-lg-6 mtb-bg-col">
            <h2 class="mtb-main-title-2">Find A Doctor Easily</h2>
            <span class="mtb-title-seperator-black-md"></span>
            <p class="mtb-body-copy-1 mt-4">
                If the Program in any notice in an Executable version or via an accepted Electronic Distribution Mechanism to anyone to deny you these rights or otherwise. All rights reserved.
            </p>
        </div>
        <div class="col-12 col-lg-6  d-lg-flex align-items-center justify-content-center">
            <img src="../assets/images/mtb-find-doctor.svg" alt="Find hospitals">
        </div>
    </div>
    <div class="row mtb-section-type-1 mt-2">
        <div class="col-12 col-lg-6 d-lg-flex align-items-center justify-content-center">
            <img src="../assets/images/mtb-request-medical-help.svg" alt="Find hospitals">
        </div>
        <div class="col-12 col-lg-6 mtb-bg-col mtb-bg-col-green">
            <h2 class="mtb-main-title-2-white">Request for medical assistance</h2>
            <span class="mtb-title-seperator-white-md"></span>
            <p class="mtb-body-copy-1 mt-4">
                If the Program in any notice in an Executable version or via an accepted Electronic Distribution Mechanism to anyone to deny you these rights or otherwise. All rights reserved.
            </p>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12 col-lg-6 mtb-bg-col">
            <h2 class="mtb-main-title-2">Find a hospital</h2>
            <span class="mtb-title-seperator-black-md"></span>
            <p class="mtb-body-copy-1 mt-4">
                If the Program in any notice in an Executable version or via an accepted Electronic Distribution Mechanism to anyone to deny you these rights or otherwise. All rights reserved.
            </p>
        </div>
        <div class="col-12 col-lg-6 d-lg-flex align-items-center justify-content-center">
            <img src="../assets/images/mtb-find-hospital.svg" alt="Find hospitals">
        </div>
    </div>
    <div class="row mtb-section-type-1 my-4">
        <div class="col-12 col-lg-6 d-lg-flex align-items-center">
            <div class="row">
                <div class="col-6 px-lg-0 d-flex flex-column">
                    <img src="../assets/images/mtb-central-medical-history.svg" alt="Find hospitals">
                    <h6>Choose who to share your profile with</h6>
                </div>
                <div class="col-6 px-lg-0 d-flex flex-column">
                    <img src="../assets/images/mtb-secure-sharing.svg" alt="Find hospitals">
                    <h6>Your medical history treatments in one place</h6>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mtb-bg-col mtb-bg-col-green">
            <h2 class="mtb-main-title-2-white">Request for medical assistance</h2>
            <span class="mtb-title-seperator-white-md"></span>
            <p class="mtb-body-copy-1 mt-4">
                If the Program in any notice in an Executable version or via an accepted Electronic Distribution Mechanism to anyone to deny you these rights or otherwise. All rights reserved.
            </p>
        </div>
    </div>
</div>