<header class="container-fluid fixed-top mtb-admin-main-header-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light mtb-main-nav">
        <a class="navbar-brand ai-header-logo" [routerLink]="['/dashboard']"><img src="../assets/logos/mtibu-icon-color.svg"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mtbbu-admin-header-nav">
            <div class="ml-auto d-flex w-75">
                <div class="mx-auto mtb-header-search-wrapper">
                    <form [formGroup]="headerSearch">
                        <div class="form-control mtb-header-search">
                            <i class="ri-search-line"></i>
                            <input type="text" value="" class="w-100" placeholder="Search for doctor or hospital" formControlName="searchTerm">
                        </div>
                    </form>
                </div>
                <div class="mx-auto mtb-header-current-date">
                    <h6>{{currentDate | date:'fullDate' }}</h6>
                </div>
            </div>
            <ul class="navbar-nav ml-auto d-flex flex-row align-items-center">
                <li class="nav-item dropdown active" appDropdownExpand>
                    <a class="nav-link mtb-notification"><i class="ri-notification-fill"></i></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/profile']" routerLinkActive="router-link-active">Profile</a>
                        <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/settings']" routerLinkActive="router-link-active">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:void(0)" (click)="logout()">Log out</a>
                    </div>
                </li>
                <li class="nav-item dropdown" appDropdownExpand>
                    <a class="dropdown-toggle nav-link d-flex flex-row align-items-center mtb-profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="mr-1 mtb-image-circle-sm" style="background-image: url('../assets/images/mtb-profile-image-01.jpg')"></div>
                        allan
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/profile']" routerLinkActive="router-link-active">Profile</a>
                        <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/settings']" routerLinkActive="router-link-active">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:void(0)" (click)="logout()">Log out</a>
                    </div>
                </li>
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </nav>
</header>