<div class="card mtb-card-reset-2">
    <div class="card-body p-2">
        <div class="row mtb-payments-row">
            <div class="col-12 col-lg-4">
                <h6>R 0.00</h6>
                <p>current month</p>
            </div>
            <div class="col-12 col-lg-4">
                <h6>R 0.00</h6>
                <p>total paid</p>
            </div>
            <div class="col-12 col-lg-4">
                <h6>R 0.00</h6>
                <p>total outstanding</p>
            </div>
        </div>
    </div>
</div>