/* You can add global styles to this file, and also import other style files */

@import "~normalize.css";
@import "_base.scss";
@import 'remixicon/fonts/remixicon.css';
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

*:focus {
    outline: none;
    transition: all 0.1s ease-in-out;
}

// Overall wrapping container
.mtb-oa-wrapping-container {
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mtb-page-wrapper {
    min-height: 92vh;
}

.mtb-content-offset {
    flex: 1;
    padding-top: 70px;
}

.mtb-loading-screen {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: $mtb-white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all .4s linear;
    visibility: visible;
}

.mtb-fade-hide {
    visibility: hidden;
    opacity: 0;
    transition: all .4s linear;
}

h1 {
    font-family: $mtb-fnt-manrope;
    font-size: $mtb-fnt-sz-40;
    font-weight: $mtb-fnt-w-500;
}

h2 {
    font-family: $mtb-fnt-noto;
}

h3 {
    font-family: $mtb-fnt-manrope;
}

p {
    margin-bottom: 0;
}

.mtb-logo-sm {
    width: 100%;
    @include xtra_small_moblie_devices_only() {
        width: 40%;
    }
    @include mobile_devices_only() {
        width: 40%;
    }
    @include mobile_devices_only_landscape() {
        width: 50%;
    }
    @include tablet_devices_only() {
        width: 40%;
    }
    @include tablet_devices_only_landscape() {
        width: 100%;
    }
}

.mtb-logo-l {
    width: 25%;
    @include xtra_small_moblie_devices_only() {
        width: 50%;
    }
    @include mobile_devices_only() {
        width: 50%;
    }
    @include mobile_devices_only_landscape() {
        width: 40%;
    }
    @include tablet_devices_only_potrait() {
        width: 40%;
    }
}

// *****************
// Colours
// *****************
.mtb-text-black {
    color: $mtb-black-o-8;
    &.mtb-link {
        color: $mtb-black-o-8;
    }
}

// *****************
// Coming soon page.
// *****************
.mtb-coming-soon-title {
    font-size: 85px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0.5em 0;
    @include xtra_small_moblie_devices_only() {
        font-size: 40px;
    }
    @include mobile_devices_only() {
        font-size: 40px;
    }
    @include mobile_devices_only_landscape() {
        font-size: 40px;
    }
    @include tablet_devices_only() {
        font-size: 40px;
    }
    @include tablet_devices_only_landscape() {
        font-size: 60px;
    }
    @include tablet_devices_only_potrait() {
        font-size: 70px;
    }
}

.mtb-coming-soon-subtitle {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0.1em 0;
    @include large_mobile_devices_only() {
        font-size: 13px;
    }
    @include mobile_devices_only() {
        font-size: 13px;
    }
    @include mobile_devices_only_landscape() {
        font-size: 13px;
    }
    @include tablet_devices_only_potrait() {
        font-size: 13px;
    }
}

.mtb-coming-soon-time {
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0.1em 0;
    span {
        margin-left: 0.4em;
    }
    @include large_mobile_devices_only() {
        font-size: 20px;
    }
    @include mobile_devices_only() {
        font-size: 20px;
    }
    @include mobile_devices_only_landscape() {
        font-size: 20px;
    }
}

// *****************
// Error Message
// *****************
.mtb-error-container {
    border-left: 1px solid $mtb-black-o-1;
    padding-left: 2rem;
    h1 {
        font-weight: $mtb-fnt-w-900;
        font-size: $mtb-fnt-sz-60;
        margin: 0 0 0.4rem 0;
        @include xtra_small_moblie_devices_only() {
            font-size: $mtb-fnt-sz-20;
        }
        @include mobile_devices_only() {
            font-size: $mtb-fnt-sz-40;
            text-align: center;
            margin-top: 1rem;
        }
        @include mobile_devices_only_landscape() {
            font-size: $mtb-fnt-sz-50;
        }
        @include tablet_devices_only() {
            margin-top: 1rem;
            font-size: $mtb-fnt-sz-40;
            text-align: center;
        }
        @include tablet_devices_only_landscape() {
            font-size: $mtb-fnt-sz-30;
            text-align: left;
        }
    }
    h2 {
        font-weight: $mtb-fnt-w-400;
        font-size: $mtb-fnt-sz-xlg;
        text-align: left;
        @include xtra_small_moblie_devices_only() {
            font-size: $mtb-fnt-sz-md;
            text-align: center;
        }
        @include mobile_devices_only() {
            font-size: $mtb-fnt-sz-md;
            text-align: center;
        }
        @include tablet_devices_only() {
            font-size: $mtb-fnt-sz-md;
            text-align: center;
        }
        @include tablet_devices_only_landscape() {
            text-align: left;
        }
    }
    @include tablet_devices_only_potrait() {
        border-left: none;
        padding-left: 0;
    }
    @include large_mobile_devices_only() {
        border-left: none;
        padding-left: 0;
    }
    @include mobile_devices_only_landscape() {
        border-left: none;
        padding-left: 0;
    }
    // @include xtra_small_moblie_devices_only() {
    //     border-left: none;
    //     padding-left: 0;
    // }
}

// *****************
// *****************
// Public Pages
// *****************
// *****************
// *****************
// Public Navigation
// *****************
.ai-header-logo {
    width: 7%;
    img {
        width: 100%;
    }
    @include mobile_devices_only() {
        width: 15%;
    }
    @include tablet_devices_only() {
        width: 12%;
    }
    @include large_tablet_devices_only() {
        width: 10%;
    }
}

.mtb-pub-header {
    background-color: $mtb-white;
    box-shadow: 3px 3px 7px $mtb-black-o-0-5;
    -webkit-box-shadow: 3px 3px 7px $mtb-black-o-0-5;
    -moz-box-shadow: 3px 3px 7px $mtb-black-o-0-5;
    -o-box-shadow: 3px 3px 7px $mtb-black-o-0-5;
}

.mtb-pub-main-header-wrapper {
    display: flex;
    justify-content: center;
    height: 70px;
}

.mtb-admin-main-header-wrapper {
    display: flex;
    justify-content: center;
    height: 70px;
}

.mtb-main-nav {
    width: 95%;
}

#mtbbu-pub-header-nav {
    ul {
        li {
            a {
                font-family: $mtb-fnt-noto;
                font-size: $mtb-fnt-sz-11;
                &.mtb-signup {
                    padding: 0.5rem 2rem;
                    background-color: $mtb-white;
                    color: $mtb-p-green;
                    border-radius: 3px 0px 0px 3px;
                    transition: all .3s ease;
                    border: 1px solid transparent;
                    &:hover {
                        color: $mtb-p-green-o-6;
                        transition: all .3s ease;
                        background-color: transparent;
                        border-color: $mtb-p-green;
                    }
                }
                &.mtb-login {
                    padding: 0.5rem 2rem;
                    background-color: $mtb-p-green;
                    color: $mtb-white;
                    border-radius: 0px 3px 3px 0px;
                    transition: all .3s ease;
                    border: 1px solid transparent;
                    &:hover {
                        color: $mtb-p-green;
                        transition: all .3s ease;
                        background-color: transparent;
                        border-color: $mtb-p-green;
                    }
                }
            }
        }
    }
}

#mtbbu-admin-header-nav {
    ul {
        li {
            a {
                font-family: $mtb-fnt-noto;
                font-size: $mtb-fnt-sz-11;
                color: $mtb-black-o-8;
                cursor: pointer;
                &.mtb-notification {
                    padding: 0.1rem 1rem;
                    background-color: $mtb-white;
                    transition: all .3s ease;
                    border-right: 1px solid $mtb-black-o-2;
                    &:hover {
                        color: $mtb-p-green-o-6;
                        transition: all .3s ease;
                        background-color: transparent;
                    }
                }
                &.mtb-profile {
                    padding: 0.5rem 1rem;
                    transition: all .3s ease;
                    text-transform: capitalize;
                    &:hover {
                        color: $mtb-p-green;
                        transition: all .3s ease;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

// Legal pages
.mtb-nav-sec-title {
    font-family: $mtb-fnt-noto;
    font-size: $mtb-fnt-sz-lg;
    font-weight: $mtb-fnt-w-400;
    margin-bottom: 0px;
    color: $mtb-black-o-3;
}

.mtb-in-page-nav {
    background-color: $mtb-black-o-0-2;
    box-shadow: 3px 3px 7px $mtb-black-o-0-5;
    -webkit-box-shadow: 3px 3px 7px $mtb-black-o-0-5;
    -moz-box-shadow: 3px 3px 7px $mtb-black-o-0-5;
    -o-box-shadow: 3px 3px 7px $mtb-black-o-0-5;
    &.navbar {
        padding: 0.5rem 1rem 0 1rem;
    }
    ul.navbar-nav {
        li {
            border-bottom: 2px solid transparent;
            transition: all 0.2s ease-in-out;
            a {
                font-family: $mtb-fnt-manrope;
                color: $mtb-black-o-3;
                font-size: $mtb-fnt-sz-11;
                font-weight: $mtb-fnt-w-500;
                transition: all 0.2s ease-in-out;
            }
            &.active {
                border-bottom-color: $mtb-p-green;
                transition: all 0.2s ease-in-out;
                a {
                    color: $mtb-p-green;
                    transition: all 0.2s ease-in-out;
                }
            }
        }
    }
}

// *****************
// Public Footer
// *****************
.mtb-pub-footer {
    background-color: $mtb-black-o-0-2;
    padding: 1rem;
    height: 70px;
    margin-top: auto;
    a {
        font-family: $mtb-fnt-noto;
        color: $mtb-black-o-2;
        font-size: $mtb-fnt-sz-11;
        font-weight: $mtb-fnt-w-500;
        transition: all .5s ease;
        display: inline-flex;
        align-items: center;
        &.mtb-border-right {
            border-right: 1px solid $mtb-black-o-1;
            padding-right: 0.4rem;
            margin-right: 0.4rem;
        }
        &:hover {
            text-decoration: none;
            transition: all .5s ease;
            color: $mtb-p-green-o-6;
        }
        &.router-link-active {
            color: $mtb-p-green-o-6;
        }
    }
}

// *****************
// Titles
// *****************
.mtb-title-green {
    color: $mtb-p-green;
}

.mtb-section-title-1 {
    font-family: $mtb-fnt-manrope;
    font-size: $mtb-fnt-sz-lg;
    font-weight: $mtb-fnt-w-700;
    color: $mtb-black-o-7;
}

.mtb-main-title-2 {
    font-family: $mtb-fnt-noto;
    font-size: $mtb-fnt-sz-xlg;
    font-weight: $mtb-fnt-w-700;
    color: $mtb-black-o-8;
}

.mtb-main-title-3 {
    font-family: $mtb-fnt-noto;
    font-size: $mtb-fnt-sz-80;
    font-weight: $mtb-fnt-w-900;
    color: $mtb-black-o-9;
}

.mtb-main-title-4 {
    font-family: $mtb-fnt-noto;
    font-size: $mtb-fnt-sz-lg;
    font-weight: $mtb-fnt-w-500;
    color: $mtb-black-o-8;
}

.mtb-main-title-5 {
    font-family: $mtb-fnt-noto;
    font-size: $mtb-fnt-sz-13;
    font-weight: $mtb-fnt-w-400;
    color: $mtb-black-o-8;
}

.mtb-main-title-6 {
    font-family: $mtb-fnt-noto;
    font-size: $mtb-fnt-sz-lg;
    font-weight: $mtb-fnt-w-600;
    color: $mtb-black-o-8;
}

.mtb-main-title-7 {
    font-family: $mtb-fnt-noto;
    font-size: $mtb-fnt-sz-md;
    font-weight: $mtb-fnt-w-600;
    color: $mtb-black-o-8;
}

.mtb-main-title-8 {
    font-family: $mtb-fnt-noto;
    font-size: $mtb-fnt-sz-23;
    font-weight: $mtb-fnt-w-600;
    color: $mtb-black-o-8;
}

.mtb-main-title-9 {
    font-family: $mtb-fnt-noto;
    font-size: $mtb-fnt-sz-md;
    font-weight: $mtb-fnt-w-600;
    color: $mtb-black-o-7;
}

.mtb-card-section-title {
    font-family: $mtb-fnt-noto;
    font-size: $mtb-fnt-sz-md;
    font-weight: $mtb-fnt-w-600;
    color: $mtb-black-o-8;
}

.mtb-main-title-2-white {
    font-family: $mtb-fnt-noto;
    font-size: $mtb-fnt-sz-xlg;
    font-weight: $mtb-fnt-w-700;
    color: $mtb-white;
}

.mtb-text-sm {
    font-family: $mtb-fnt-manrope;
    font-size: $mtb-fnt-sz-sm;
    color: $mtb-black-o-6;
}

// Title seperators
.mtb-title-right-border {
    border-right: 1px solid $mtb-black-o-1;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
}

// *****************
// Separators
// *****************
.mtb-has-separator-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mtb-title-seperator {
    background-color: $mtb-p-green;
    width: 80px;
    height: 5px;
}

.mtb-title-seperator-black {
    background-color: $mtb-black-o-4;
    width: 80px;
    height: 5px;
}

.mtb-title-seperator-black-md {
    background-color: $mtb-black-o-8;
    width: 40px;
    height: 3px;
    display: block;
}

.mtb-title-seperator-white-md {
    background-color: $mtb-white;
    width: 40px;
    height: 3px;
    display: block;
}

.mtb-seperator-right-md {
    width: 1px;
    height: 60%;
    background-color: $mtb-black-o-1;
    display: block;
}

// *****************
// Copy
// *****************
.mtb-body-copy-1 {
    font-family: $mtb-fnt-noto;
    font-size: $mtb-fnt-sz-md;
    line-height: $mtb-fnt-sz-20;
}

.mtb-body-copy-2 {
    font-family: $mtb-fnt-noto;
    font-size: $mtb-fnt-sz-lg;
    line-height: $mtb-fnt-sz-30;
}

.mtb-body-copy-3 {
    font-family: $mtb-fnt-noto;
    font-size: $mtb-fnt-sz-md;
    line-height: $mtb-fnt-sz-25;
}

.mtb-body-copy-4 {
    font-family: $mtb-fnt-noto;
    font-size: $mtb-fnt-sz-sm;
    line-height: $mtb-fnt-sz-20;
    margin-bottom: 0px;
}

.mtb-text-green {
    color: $mtb-p-green;
}

.mtb-card-section-body {
    font-family: $mtb-fnt-noto;
    font-size: $mtb-fnt-sz-sm;
    line-height: $mtb-fnt-sz-20;
}

// *****************
// Cards
// *****************
.mtb-card-reset {
    border: none;
    box-shadow: 3px 3px 7px $mtb-black-o-0-5;
    -webkit-box-shadow: 3px 3px 7px $mtb-black-o-0-5;
    -moz-box-shadow: 3px 3px 7px $mtb-black-o-0-5;
    -o-box-shadow: 3px 3px 7px $mtb-black-o-0-5;
    &.card {
        border: none;
        box-shadow: 3px 3px 7px $mtb-black-o-0-5;
        -webkit-box-shadow: 3px 3px 7px $mtb-black-o-0-5;
        -moz-box-shadow: 3px 3px 7px $mtb-black-o-0-5;
        -o-box-shadow: 3px 3px 7px $mtb-black-o-0-5;
    }
}

.mtb-card-tabs-md {
    // min-height: 19rem;
    max-height: 23rem;
    overflow-y: auto;
}

.mtb-card-title {
    padding: 1rem 2rem 0rem 1rem;
}

// *****************
// Buttons
// *****************
.mtb-btn-sm {
    font-size: $mtb-fnt-sz-xs;
    font-family: $mtb-fnt-manrope;
    font-weight: $mtb-fnt-w-500;
    letter-spacing: 1px;
    &.btn {
        font-size: $mtb-fnt-sz-xs;
        font-family: $mtb-fnt-manrope;
        font-weight: $mtb-fnt-w-500;
        letter-spacing: 1px;
        padding: 0.4rem 1rem;
    }
}

.mtb-btn-md {
    font-size: $mtb-fnt-sz-11;
    font-family: $mtb-fnt-manrope;
    font-weight: $mtb-fnt-w-500;
    letter-spacing: 1px;
    &.btn {
        font-size: $mtb-fnt-sz-11;
        font-family: $mtb-fnt-manrope;
        font-weight: $mtb-fnt-w-500;
        letter-spacing: 1px;
        padding: 0.4rem 3rem;
    }
}

.mtb-btn-lg {
    font-size: $mtb-fnt-sz-md;
    font-family: $mtb-fnt-manrope;
    font-weight: $mtb-fnt-w-500;
    letter-spacing: 1px;
    padding: 0.6rem 3rem;
    &.btn {
        font-size: $mtb-fnt-sz-md;
        font-family: $mtb-fnt-manrope;
        font-weight: $mtb-fnt-w-500;
        letter-spacing: 1px;
        padding: 0.6rem 3rem;
    }
}

.mtb-btn-green {
    background-color: $mtb-p-green;
    color: $mtb-white;
    border: 2px solid transparent;
    &:hover {
        background-color: transparent;
        border-color: $mtb-p-green;
        color: $mtb-p-green;
    }
    &.btn {
        background-color: $mtb-p-green;
        color: $mtb-white;
        border: 2px solid transparent;
        &:hover {
            background-color: transparent;
            border-color: $mtb-p-green;
            color: $mtb-p-green;
        }
    }
}

// *****************
// Links
// *****************
.mtb-icon-thirds {
    width: 33%;
}

.mtb-footer-cont-links {
    border-top: 1px solid $mtb-black-o-0-5;
    margin-top: 1rem;
    padding: 0.5rem 0;
}

.mtb-link {
    font-family: $mtb-fnt-manrope;
    letter-spacing: 0.3px;
    color: $mtb-black-o-4;
    display: inline-block;
    &:hover {
        text-decoration: none;
        color: $mtb-p-green;
    }
}

.mtb-link-md {
    font-size: $mtb-fnt-sz-11;
}

.mtb-icon-link-sm {
    font-size: $mtb-fnt-sz-sm;
}

.mtb-link-xs {
    font-size: $mtb-fnt-sz-xs;
}

.mtb-tab-icon-col {
    display: flex;
    flex-direction: column;
    color: $mtb-black-o-3;
    align-items: center;
    font-size: $mtb-fnt-sz-11;
    font-family: $mtb-fnt-noto;
    font-weight: $mtb-fnt-w-500;
    border-bottom: 4px solid transparent;
    padding: 0.4rem 1rem 0.6rem 1rem;
    line-height: $mtb-fnt-sz-md;
    &.active {
        background-color: transparent;
        border-color: $mtb-p-green;
        color: $mtb-p-green;
    }
    &:hover {
        text-decoration: none;
        color: $mtb-p-green;
    }
}

.mtb-icon-text-link {
    color: $mtb-black-o-4;
    font-size: $mtb-fnt-sz-xs;
    display: flex;
    flex-direction: column;
    i {
        font-size: $mtb-fnt-sz-20;
        line-height: $mtb-fnt-sz-23;
    }
    &:hover {
        text-decoration: none;
        color: $mtb-p-green;
    }
}

.mtb-link-underline {
    border-bottom: 3px solid transparent;
    padding: 0 1rem 0.5rem 1rem;
    font-size: $mtb-fnt-sz-sm;
    transition: all .5s ease;
    &.active {
        color: $mtb-p-green;
        border-color: $mtb-p-green;
        transition: all .5s ease;
    }
}

.mtb-link-dark-grey {
    color: $mtb-black-o-8;
    font-weight: $mtb-fnt-w-700;
}

// *****************
// Icons
// *****************
.mtb-icon-md {
    font-size: $mtb-fnt-sz-lg;
    line-height: $mtb-fnt-sz-30;
}

// *****************
// Inputs
// *****************
.mtb-input-w-icon {
    width: 100%;
    height: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 3px 3px 7px $mtb-black-o-1;
    -webkit-box-shadow: 3px 3px 7px $mtb-black-o-1;
    -moz-box-shadow: 3px 3px 7px $mtb-black-o-1;
    -o-box-shadow: 3px 3px 7px $mtb-black-o-1;
    i {
        color: $mtb-black-o-3;
    }
    input {
        border-left: 1px solid $mtb-black-o-2;
        padding: 0.3rem 0.7rem;
        margin-left: 0.5rem;
        font-family: $mtb-fnt-noto;
        font-size: $mtb-fnt-sz-11;
        font-weight: $mtb-fnt-w-500;
    }
}

.mtb-input-wrapper {
    width: 100%;
    height: 100%;
    padding: 0.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 3px -1px 7px $mtb-black-o-0-5;
    -webkit-box-shadow: 3px 1-px 7px $mtb-black-o-0-5;
    -moz-box-shadow: 3px -1px 7px $mtb-black-o-0-5;
    -o-box-shadow: 3px -1px 7px $mtb-black-o-0-5;
    input {
        width: 100%;
        padding: 0.3rem 0.7rem;
        font-family: $mtb-fnt-noto;
        font-size: $mtb-fnt-sz-11;
        font-weight: $mtb-fnt-w-500;
        border: none;
        &.mtb-input-md {
            padding: 0.7rem 0.7rem;
        }
    }
    textarea {
        color: $mtb-black-o-7;
        font-family: $mtb-fnt-noto;
        font-size: $mtb-fnt-sz-11;
        font-weight: $mtb-fnt-w-500;
        border: none;
        padding: 0.3rem 0.7rem;
    }
    select {
        width: 100%;
        padding: 0.7rem;
        font-family: $mtb-fnt-noto;
        font-size: $mtb-fnt-sz-11;
        font-weight: $mtb-fnt-w-500;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        &::-ms-expand {
            display: none;
        }
    }
}

.mtb-input-wrapper-checkbox {
    width: 100%;
    height: 100%;
    padding: 0.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    input {
        display: none;
        &:checked {
            +label {
                span {
                    background-color: $mtb-p-green;
                    transform: scale(1.25); // enlarge the box
                    &:after {
                        width: 6px;
                        background: $mtb-white;
                        transition: width 150ms ease 100ms; // enlarge the tick
                    }
                    &:before {
                        width: 3px;
                        background: $mtb-white;
                        transition: width 150ms ease 100ms; // enlarge the tick
                    }
                }
                &:hover {
                    // copy the states for onMouseOver to avoid flickering
                    span {
                        background-color: $mtb-p-green;
                        transform: scale(1.25); // enlarge the box
                        &:before {
                            width: 3px;
                            background: $mtb-white;
                            transition: width 150ms ease 100ms; // enlarge the tick
                        }
                        &:after {
                            width: 8px;
                            background: $mtb-white;
                            transition: width 150ms ease 100ms; // enlarge the tick
                        }
                    }
                }
            }
        }
    }
    label {
        color: $mtb-black-o-4;
        font-family: $mtb-fnt-noto;
        font-size: $mtb-fnt-sz-11;
        margin-bottom: 0.1rem;
        margin-left: 0.3rem;
        display: inline-block;
        cursor: pointer;
        position: relative;
        span {
            display: inline-block;
            position: relative;
            background-color: transparent;
            width: 20px;
            height: 20px;
            transform-origin: center;
            border: 2px solid $mtb-black-o-4;
            border-radius: 50%;
            vertical-align: -6px;
            margin-right: 10px;
            transition: background-color 150ms 200ms, transform 350ms cubic-bezier(.78, -1.22, .17, 1.89);
            &:before {
                content: "";
                width: 0px;
                height: 1px;
                border-radius: 0px; // so that the tick has nice rounded look
                background: $mtb-p-green;
                position: absolute;
                transform: rotate(45deg);
                top: 8px; // you'll need to experiment with placement depending on the dimensions you've chosen
                left: 5px; // you'll need to experiment with placement depending on the dimensions you've chosen
                transition: width 50ms ease 50ms;
                transform-origin: 0% 0%;
            }
            &:after {
                content: "";
                width: 0;
                height: 1px;
                border-radius: 0px; // so that the tick has nice rounded look
                background: $mtb-p-green;
                position: absolute;
                transform: rotate(310deg);
                top: 10px; // you'll need to experiment with placement depending on the dimensions you've chosen
                left: 6px; // you'll need to experiment with placement depending on the dimensions you've chosen
                transition: width 50ms ease;
                transform-origin: 0% 0%;
            }
        }
        &:hover {
            span {
                &:before {
                    width: 3px;
                    transition: width 100ms ease;
                }
                &:after {
                    width: 8px;
                    transition: width 150ms ease 100ms;
                }
            }
        }
    }
    a {
        color: $mtb-black-o-4;
        font-family: $mtb-fnt-noto;
        font-size: $mtb-fnt-sz-11;
        &:hover {
            color: $mtb-p-green;
        }
    }
}

.mtb-input-search {
    width: 100%;
    border: none;
}

// *****************
// Modals
// *****************
.mtb-modal-title {
    display: flex;
    align-items: center;
    border: none;
    box-shadow: 3px 3px 7px $mtb-black-o-0-5;
    -webkit-box-shadow: 3px 3px 7px $mtb-black-o-0-5;
    -moz-box-shadow: 3px 3px 7px $mtb-black-o-0-5;
    -o-box-shadow: 3px 3px 7px $mtb-black-o-0-5;
    &.modal-header {
        display: flex;
        align-items: center;
        border: none;
        box-shadow: 3px 3px 7px $mtb-black-o-0-5;
        -webkit-box-shadow: 3px 3px 7px $mtb-black-o-0-5;
        -moz-box-shadow: 3px 3px 7px $mtb-black-o-0-5;
        -o-box-shadow: 3px 3px 7px $mtb-black-o-0-5;
    }
    h4 {
        font-family: $mtb-fnt-manrope;
        font-size: $mtb-fnt-sz-sm;
        font-weight: $mtb-fnt-w-700;
        text-transform: uppercase;
        color: $mtb-black-o-7;
        letter-spacing: 1px;
    }
}

.mtb-modal-footer {
    display: flex;
    align-items: center;
    border: none;
    padding: 0.4rem;
    box-shadow: 3px 3px 7px $mtb-black-o-0-5;
    -webkit-box-shadow: 3px 3px 7px $mtb-black-o-0-5;
    -moz-box-shadow: 3px 3px 7px $mtb-black-o-0-5;
    -o-box-shadow: 3px 3px 7px $mtb-black-o-0-5;
    &.modal-footer {
        display: flex;
        align-items: center;
        border: none;
        padding: 0.4rem;
        box-shadow: 3px -3px 7px $mtb-black-o-0-5;
        -webkit-box-shadow: 3px -3px 7px $mtb-black-o-0-5;
        -moz-box-shadow: 3px -3px 7px $mtb-black-o-0-5;
        -o-box-shadow: 3px -3px 7px $mtb-black-o-0-5;
    }
}

.modal-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    min-height: calc(100vh - 80px);
}

.mtb-modal-body {
    font-family: $mtb-fnt-noto;
    font-size: $mtb-fnt-sz-md;
    max-height: 18rem;
    overflow-y: auto;
}

// *****************
// Scroll Sections
// *****************
.mtb-scroll-section-md {
    max-height: 72vh;
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    p {
        width: 70%;
    }
}

// *****************
// Sections
// *****************
.mtb-section-type-1 {
    min-height: 32vh;
    height: auto;
    width: 100%;
    box-shadow: 3px -3px 7px $mtb-black-o-0-5;
    -webkit-box-shadow: 3px -3px 7px $mtb-black-o-0-5;
    -moz-box-shadow: 3px -3px 7px $mtb-black-o-0-5;
    -o-box-shadow: 3px -3px 7px $mtb-black-o-0-5;
}

.mtb-bg-col {
    padding: 7rem 5rem;
    &.col-lg-6 {
        padding: 7rem 5rem;
    }
}

.mtb-bg-col-green {
    background-color: $mtb-p-green;
    color: $mtb-white;
}

// *****************
// Images
// *****************
.mtb-img-profile-lg {
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.mtb-image-md {
    width: 70px;
    height: 70px;
}

.mtb-image-circle-sm {
    width: 40px;
    height: 40px;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
}

// *****************
// Autocomplete
// *****************
.mtb-autocomplete {
    a {
        width: 100%;
        display: inline-flex;
        &:hover {
            text-decoration: none;
        }
    }
    .mtb-autocomplete-link {
        color: $mtb-black-o-8;
        transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
        &:hover {
            background-color: $mtb-p-green;
            color: $mtb-white;
            transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
            .mtb-autocomplete-image-wrapper {
                i {
                    background-color: transparent;
                    border-color: $mtb-white;
                }
            }
        }
    }
    .mtb-autocomplete-image-wrapper {
        text-align: center;
        i {
            font-size: $mtb-fnt-sz-30;
            background: $mtb-white;
            padding: 0.8rem;
            border-radius: 50%;
            border: 2px solid $mtb-black-o-8;
            display: flex;
            justify-content: center;
            width: 50px;
            height: 50px;
            align-items: center;
        }
    }
    .mtb-autocomplete-content {
        h5 {
            font-family: $mtb-fnt-noto;
            font-size: $mtb-fnt-sz-md;
            font-weight: $mtb-fnt-w-600;
            margin-bottom: 0;
        }
        h6 {
            font-family: $mtb-fnt-noto;
            font-size: $mtb-fnt-sz-xs;
            font-weight: $mtb-fnt-w-600;
            margin-bottom: 0.3rem;
            margin-top: 0.1rem;
        }
        p {
            font-family: $mtb-fnt-noto;
            font-size: $mtb-fnt-sz-11;
            font-weight: $mtb-fnt-w-400;
            margin-bottom: 0;
        }
    }
}

// *****************
// Results
// *****************
.mtb-results-title {
    border-bottom: 1px solid $mtb-black-o-1;
    padding-bottom: 0.4rem;
}

.mtb-results-location {
    font-family: $mtb-fnt-noto;
    font-size: $mtb-fnt-sz-sm;
    font-weight: $mtb-fnt-w-400;
    color: $mtb-black-o-6;
    margin-bottom: 0;
}

.mtb-result-icon-sm {
    i {
        font-size: $mtb-fnt-sz-30;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 50%;
        border: 1px solid $mtb-black-o-8;
        display: block;
    }
}

.mtb-results-content {
    h5 {
        font-family: $mtb-fnt-noto;
        font-size: $mtb-fnt-sz-md;
        font-weight: $mtb-fnt-w-400;
        margin-bottom: 0;
    }
    h6 {
        font-family: $mtb-fnt-noto;
        font-size: $mtb-fnt-sz-xs;
        font-weight: $mtb-fnt-w-400;
        margin-bottom: 0.3rem;
        margin-top: 0.1rem;
    }
    p {
        font-family: $mtb-fnt-noto;
        font-size: $mtb-fnt-sz-11;
        font-weight: $mtb-fnt-w-400;
        margin-bottom: 0;
    }
}

// *****************
// Home Pages
// *****************
.mtb-home-main-row {
    background-image: linear-gradient(to bottom, $mtb-p-green-var-1-o-4, $mtb-p-green-var-1-o-4), url('../src/assets/images/mtb-home-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';