/* You can add global styles to this file, and also import other style files */

@import "~normalize.css";
@import "_base.scss";
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

h1 {
    font-family: $mtb-fnt-manrope;
}

h2 {
    font-family: $mtb-fnt-sora;
}

h3 {
    font-family: $mtb-fnt-manrope;
}

// *****************
// Coming soon page.
// *****************
.mtb-logo-l {
    width: 25%;
    @include xtra_small_moblie_devices_only() {
        width: 50%;
    }
    @include mobile_devices_only() {
        width: 50%;
    }
    @include mobile_devices_only_landscape() {
        width: 40%;
    }
    @include tablet_devices_only_potrait() {
        width: 40%;
    }
}

.mtb-coming-soon-title {
    font-size: 85px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0.5em 0;
    @include xtra_small_moblie_devices_only() {
        font-size: 40px;
    }
    @include mobile_devices_only() {
        font-size: 40px;
    }
    @include mobile_devices_only_landscape() {
        font-size: 40px;
    }
    @include tablet_devices_only() {
        font-size: 40px;
    }
    @include tablet_devices_only_landscape() {
        font-size: 60px;
    }
    @include tablet_devices_only_potrait() {
        font-size: 70px;
    }
}

.mtb-coming-soon-subtitle {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0.1em 0;
    @include large_mobile_devices_only() {
        font-size: 13px;
    }
    @include mobile_devices_only() {
        font-size: 13px;
    }
    @include mobile_devices_only_landscape() {
        font-size: 13px;
    }
    @include tablet_devices_only_potrait() {
        font-size: 13px;
    }
}

.mtb-coming-soon-time {
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0.1em 0;
    span {
        margin-left: 0.4em;
    }
    @include large_mobile_devices_only() {
        font-size: 20px;
    }
    @include mobile_devices_only() {
        font-size: 20px;
    }
    @include mobile_devices_only_landscape() {
        font-size: 20px;
    }
}