// Base Colours
$mtb-black: rgba(0, 0, 0, 1);
$mtb-white: rgba(255, 255, 255, 1);
// Primary Colours
$mtb-p-red: rgba(237, 28, 36, 1);
$mtb-p-green: rgba(0, 169, 157, 1);
$mtb-red: rgba(214, 22, 22, 1);
$mtb-green: rgba(64, 188, 67, 1);
// Shades
$mtb-light-grey: rgba(232, 232, 232, 1);
$mtb-medium-grey: rgba(153, 153, 153, 1);
$mtb-dark-grey: rgba(63, 63, 63, 1);
$mtb-p-green-var-1: rgba(226, 240, 234, 1);
// Opacity
// Black opacity
$mtb-black-o-9: rgba(0, 0, 0, 0.9);
$mtb-black-o-8: rgba(0, 0, 0, 0.8);
$mtb-black-o-7: rgba(0, 0, 0, 0.7);
$mtb-black-o-6: rgba(0, 0, 0, 0.6);
$mtb-black-o-5: rgba(0, 0, 0, 0.5);
$mtb-black-o-4: rgba(0, 0, 0, 0.4);
$mtb-black-o-3: rgba(0, 0, 0, 0.3);
$mtb-black-o-2: rgba(0, 0, 0, 0.2);
$mtb-black-o-1: rgba(0, 0, 0, 0.1);
$mtb-black-o-0-5: rgba(0, 0, 0, 0.05);
$mtb-black-o-0-3: rgba(0, 0, 0, 0.03);
$mtb-black-o-0-2: rgba(0, 0, 0, 0.02);
$mtb-black-o-0-1: rgba(0, 0, 0, 0.01);
// White opacity
$mtb-white-o-9: rgba(255, 255, 255, 0.9);
$mtb-white-o-8: rgba(255, 255, 255, 0.8);
$mtb-white-o-7: rgba(255, 255, 255, 0.7);
$mtb-white-o-6: rgba(255, 255, 255, 0.6);
$mtb-white-o-5: rgba(255, 255, 255, 0.5);
$mtb-white-o-4: rgba(255, 255, 255, 0.4);
$mtb-white-o-3: rgba(255, 255, 255, 0.3);
$mtb-white-o-2: rgba(255, 255, 255, 0.2);
$mtb-white-o-1: rgba(255, 255, 255, 0.1);
// Primary Red opacity
$mtb-p-red-o-9: rgba(237, 28, 36, 0.9);
$mtb-p-red-o-8: rgba(237, 28, 36, 0.8);
$mtb-p-red-o-7: rgba(237, 28, 36, 0.7);
$mtb-p-red-o-6: rgba(237, 28, 36, 0.6);
$mtb-p-red-o-5: rgba(237, 28, 36, 0.5);
$mtb-p-red-o-4: rgba(237, 28, 36, 0.4);
$mtb-p-red-o-3: rgba(237, 28, 36, 0.3);
$mtb-p-red-o-2: rgba(237, 28, 36, 0.2);
$mtb-p-red-o-1: rgba(237, 28, 36, 0.1);
// Primary Green opacity
$mtb-p-green-o-9: rgba(0, 169, 157, 0.9);
$mtb-p-green-o-8: rgba(0, 169, 157, 0.8);
$mtb-p-green-o-7: rgba(0, 169, 157, 0.7);
$mtb-p-green-o-6: rgba(0, 169, 157, 0.6);
$mtb-p-green-o-5: rgba(0, 169, 157, 0.5);
$mtb-p-green-o-4: rgba(0, 169, 157, 0.4);
$mtb-p-green-o-3: rgba(0, 169, 157, 0.3);
$mtb-p-green-o-2: rgba(0, 169, 157, 0.2);
$mtb-p-green-o-1: rgba(0, 169, 157, 0.1);
// Primary Green Var 1 opacity
$mtb-p-green-var-1-o-9: rgba(226, 240, 234, 0.9);
$mtb-p-green-var-1-o-8: rgba(226, 240, 234, 0.8);
$mtb-p-green-var-1-o-7: rgba(226, 240, 234, 0.7);
$mtb-p-green-var-1-o-6: rgba(226, 240, 234, 0.6);
$mtb-p-green-var-1-o-5: rgba(226, 240, 234, 0.5);
$mtb-p-green-var-1-o-4: rgba(226, 240, 234, 0.4);
$mtb-p-green-var-1-o-3: rgba(226, 240, 234, 0.3);
$mtb-p-green-var-1-o-2: rgba(226, 240, 234, 0.2);
$mtb-p-green-var-1-o-1: rgba(226, 240, 234, 0.1);
// Red opacity
$mtb-red-o-9: rgba(214, 22, 22, 0.9);
$mtb-red-o-8: rgba(214, 22, 22, 0.8);
$mtb-red-o-7: rgba(214, 22, 22, 0.7);
$mtb-red-o-6: rgba(214, 22, 22, 0.6);
$mtb-red-o-5: rgba(214, 22, 22, 0.5);
$mtb-red-o-4: rgba(214, 22, 22, 0.4);
$mtb-red-o-3: rgba(214, 22, 22, 0.3);
$mtb-red-o-2: rgba(214, 22, 22, 0.2);
$mtb-red-o-1: rgba(214, 22, 22, 0.1);
// Green opacity
$mtb-green-o-9: rgba(64, 188, 67, 0.9);
$mtb-green-o-8: rgba(64, 188, 67, 0.8);
$mtb-green-o-7: rgba(64, 188, 67, 0.7);
$mtb-green-o-6: rgba(64, 188, 67, 0.6);
$mtb-green-o-5: rgba(64, 188, 67, 0.5);
$mtb-green-o-4: rgba(64, 188, 67, 0.4);
$mtb-green-o-3: rgba(64, 188, 67, 0.3);
$mtb-green-o-2: rgba(64, 188, 67, 0.2);
$mtb-green-o-1: rgba(64, 188, 67, 0.1);
$mtb-green-o-0-5: rgba(64, 188, 67, 0.05);
$mtb-green-o-0-2: rgba(64, 188, 67, 0.02);