$mtb-fnt-sz-xxs: 9px;
$mtb-fnt-sz-xs: 10px;
$mtb-fnt-sz-sm: 12px;
$mtb-fnt-sz-md: 14px;
$mtb-fnt-sz-lg: 18px;
$mtb-fnt-sz-xlg: 24px;
$mtb-fnt-sz-xxlg: 30px;
// Extra font classes
$mtb-fnt-sz-11: 11px;
$mtb-fnt-sz-13: 13px;
$mtb-fnt-sz-15: 15px;
$mtb-fnt-sz-16: 16px;
$mtb-fnt-sz-17: 17px;
$mtb-fnt-sz-19: 19px;
$mtb-fnt-sz-20: 20px;
$mtb-fnt-sz-21: 21px;
$mtb-fnt-sz-22: 22px;
$mtb-fnt-sz-23: 23px;
$mtb-fnt-sz-25: 25px;
$mtb-fnt-sz-26: 26px;
$mtb-fnt-sz-27: 27px;
$mtb-fnt-sz-28: 28px;
$mtb-fnt-sz-29: 29px;
$mtb-fnt-sz-35: 35px;
$mtb-fnt-sz-40: 40px;
$mtb-fnt-sz-45: 45px;
$mtb-fnt-sz-50: 50px;
$mtb-fnt-sz-55: 55px;
$mtb-fnt-sz-60: 60px;
$mtb-fnt-sz-65: 65px;
$mtb-fnt-sz-70: 70px;
$mtb-fnt-sz-75: 75px;
$mtb-fnt-sz-80: 80px;
$mtb-fnt-sz-85: 85px;
$mtb-fnt-sz-90: 90px;
$mtb-fnt-sz-95: 95px;
$mtb-fnt-sz-100: 100px;
// Font weights
$mtb-fnt-w-100: 100;
$mtb-fnt-w-200: 100;
$mtb-fnt-w-300: 100;
$mtb-fnt-w-400: 100;
$mtb-fnt-w-500: 100;
$mtb-fnt-w-600: 100;
$mtb-fnt-w-700: 100;
$mtb-fnt-w-800: 100;
$mtb-fnt-w-900: 100;