<div class="container-fluid h-100">
    <div class="row h-100 justify-content-md-center">
        <div class="col-12 col-md-8 d-flex justify-content-center align-items-center">
            <div class="row w-100">
                <div class="col-12 col-lg-4 d-flex justify-content-center pr-4">
                    <img src=" ./assets/logos/mtibu-logo-color.svg " alt="mtibu-logo-color " class="mtb-logo-sm ">
                </div>
                <div class="col-12 col-lg-8 mtb-error-container ">
                    <h1>404 Error</h1>
                    <h2>You seem to be at the wrong place.</h2>
                </div>
            </div>
        </div>
    </div>
</div>