<div class="card mtb-card-reset h-100">
    <div class="card-title d-flex justify-content-between mtb-card-title">
        <h3 class="mtb-card-title-01">Primary physician</h3>
        <a href="javascript:void(0)" class="mtb-link mtb-link-sm">Edit</a>
    </div>
    <div class="card-body pt-0 mtb-card-treatment-body">
        <div class="row mtb-border-bottom">
            <div class="col-2 px-0 d-flex justify-content-center">
                <div style="background-image: url('../assets/images/mtb-profile-image-04.jpg');" class="mtb-image-circle-md "></div>
            </div>
            <div class="col-10">
                <h6 class="mtb-card-title-2">Dr Joan Akoth</h6>
                <p class="mb-0 mtb-card-info-title-subscripts">General Practioner</p>
                <div class="pt-0 mt-0">
                    <a href="tel:0123456789" class="mr-1 mtb-link mtb-link-sm">+27 (0) 12 345 6789</a>
                    <a href="mailto:jakoth@medihelp.com" class="mtb-link mtb-link-sm mtb-title-profession">jakoth@medihelp.com</a>
                </div>
                <a href="javascript:void(0)" class="btn btn-sm mt-3 mtb-btn-sm mtb-btn-green">Contact doctor</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 pt-0 d-flex justify-content-between mtb-card-title">
                <h3 class="mtb-card-title-01">Primary physician</h3>
                <a href="javascript:void(0)" class="mtb-link mtb-link-sm">Edit</a>
            </div>
        </div>
        <div class="row mtb-border-bottom">
            <div class="col-2 pr-0">
                <div style="background-image: url('../assets/images/mtb-profile-image-02.jpg');" class="mtb-image-circle-sm "></div>
            </div>
            <div class="col-10 d-flex justify-content-between">
                <div class="mtb-title-status-time">
                    <p class="pb-1">Loh Ogola <span class="mtb-title-profession">Sister</span></p>
                    <a href="javascript:void(0)" class="d-flex justify-content-between mtb-link mtb-link-sm mtb-link-red">Send Emergency SOS <i
                            class="ri-arrow-drop-right-line"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2 pr-0">
                <div style="background-image: url('../assets/images/mtb-profile-image-02.jpg');" class="mtb-image-circle-sm "></div>
            </div>
            <div class="col-10 d-flex justify-content-between">
                <div class="mtb-title-status-time">
                    <p class="pb-1">Loh Ogola <span class="mtb-title-profession">Sister</span></p>
                    <a href="javascript:void(0)" class="d-flex justify-content-between mtb-link mtb-link-sm mtb-link-red">Send Emergency SOS <i
                            class="ri-arrow-drop-right-line"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>