<div class="mtb-footer-slideout-wrapper" *ngIf="showElement">
    <div class="container mtb-footer-slideout">
        <div class="row">
            <div class="col-12 mtb-slideout-header">
                <h4 class="" *ngIf="viewName === 'payment-checkout'">Payment for #{{id}}</h4>
                <h4 class="" *ngIf="viewName === 'view-chat'">Quick chat view for request #{{id}}</h4>
                <a href="javascript:void(0)" (click)="closeSlideOut()" class="d-flex flex-row align-items-center mtb-link mtb-link-sm-close"><i class="ri-close-line"></i>
                    Close</a>
            </div>
            <div class="col-12 mtb-slideout-body">
                <app-payment-checkout [reqId]="id" *ngIf="viewName === 'payment-checkout'"></app-payment-checkout>
                <app-view-chat [reqId]="id" *ngIf="viewName === 'view-chat'"></app-view-chat>
            </div>
            <!-- <div class="col-12 mtb-slideout-footer">
                <a href="javascript:void(0)" class="d-flex flex-row align-items-center mtb-link mtb-link-sm"><i class="ri-close-line"></i> Cancel</a>
                <a href="javascript:void(0)" class="d-flex flex-row align-items-center btn btn-md mtb-btn-green mtb-btn-md"><i
                        class="ri-check-line mr-1"></i> Make payment</a>
            </div> -->
        </div>
    </div>
</div>