<div class="mtb-footer-slideout-wrapper" *ngIf="showElement">
    <div class="container mtb-footer-slideout">
        <div class="row">
            <div class="col-12 mtb-slideout-header">
                <h4>The heading of the information will go here</h4>
                <a href="javascript:void(0)" (click)="closeSlideOut()" class="d-flex flex-row align-items-center mtb-link mtb-link-sm"><i class="ri-close-line"></i>
                    Close</a>
            </div>
            <div class="col-12 mtb-slideout-body">
                <div class="row">
                    <div class="col-6 col-lg-4">
                        <h6 class="mtb-text-sm">Dr Joan Akoth</h6>
                        <p class="mb-0 mtb-card-info-title-subscripts">General Practioner</p>
                        <div class="pt-0 mt-0">
                            <a href="tel:0123456789" class="mr-1 mtb-link mtb-link-sm">+27 (0) 12 345 6789</a>
                            <a href="mailto:jakoth@medihelp.com" class="mtb-link mtb-link-sm">jakoth@medihelp.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mtb-slideout-footer">
                <a href="javascript:void(0)" class="d-flex flex-row align-items-center mtb-link mtb-link-sm"><i class="ri-close-line"></i> Cancel</a>
                <a href="javascript:void(0)" class="d-flex flex-row align-items-center btn btn-md mtb-btn-green mtb-btn-md"><i
                        class="ri-check-line mr-1"></i> Make payment</a>
            </div>
        </div>
    </div>
</div>